In [1]:
import pandas as pd
boston = pd.read_csv("https://goo.gl/KsLCau")
boston.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

CRMI - Tasa de criminalidad per c√°pita por ciudad  
ZN - Proporcion de tierra residnecia xoofricada para lotes de mas de 25000 pieINDUS -

In [2]:
boston = boston.rename(columns = {'medv':'price'})
boston.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,price
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
X = boston[["crim", "zn", "indus", "chas", "nox", "rm", "age", "dis", "rad", "tax", "ptratio", "black", "lstat"]]

In [4]:
y = boston[["price"]]

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size = 0.7,random_state= 5)

C:\Users\alter\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [7]:
X = boston[["crim", "zn", "indus", "chas", "nox", "rm", "age", "dis", "rad", "tax", "ptratio", "black", "lstat"]]

y = boston[['price']]

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=5)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=5)

from sklearn.linear_model import LinearRegression

lr = LinearRegression()

C:\Users\alter\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [8]:
list(zip(X.columns, lr.coef))

AttributeError: 'LinearRegression' object has no attribute 'coef'

## Scikit Learn III  
---
### Preprocesado  
Para esta ocasi√≥n con un dataser que es un subconjunto creado por Barry a parti de la vase de datos del censo de 1984.

In [9]:
import pandas as pd

In [10]:
import numpy as np

In [11]:
censo = pd.read_csv("https://goo.gl/n7pj1K")

In [12]:
censo.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [13]:
censo = pd.read_csv("https://goo.gl/n7pj1K", header = None)

In [14]:
censo.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [15]:
censo.columns = ["age", "workclass", "fnlwgt", "education", "education-num", 
              "marital-status", "occupation", "relationship", "race", "sex", 
              "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]

In [16]:
censo.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [17]:
censo["income"].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [18]:
censo["income"] = censo["income"].apply(lambda x: 0 if x==" <=50K" else 1)

In [19]:
censo["income"].value_counts()

0    24720
1     7841
Name: income, dtype: int64

In [20]:
censo["age"].describe()

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [21]:
censo["age"].describe()

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [22]:
print ((censo['age'].max()), 'Valor Maximo')
print ((censo['age'].min()), 'Valor Minimo')

90 Valor Maximo
17 Valor Minimo

In [23]:
Q1 = censo['age'].quantile(0.25)
print(Q1)

28.0

In [24]:
Q3 = censo['age'].quantile(0.75)
print(Q3)

48.0

In [25]:
IQR = Q3 - Q1
print(IQR)

20.0

In [26]:
corteAbajo = Q3 - (IQR * 1.5)
corteArriba = Q1 + (IQR * 1.5)
print((corteAbajo), 'Corte Abajo')
print((corteArriba), 'Corte Arriba')

18.0 Corte Abajo
58.0 Corte Arriba

En le supuesto caso que quisieramos aplicar dichos cortes a nuestro dataset podr√≠a hacerlo de la siguiente manera.

In [27]:
censo_filtrado = censo[(censo["age"] > 18) &(censo["age"]<58)]
censo_filtrado.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [28]:
X = censo.drop("income", 1)
y = censo["income"]
X.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [31]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: income, dtype: int64

In [34]:
y.value_counts()

0    24720
1     7841
Name: income, dtype: int64

In [32]:
censo.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income             int64
dtype: object

In [33]:
X["race"].value_counts()

 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64

### Dummies  
Generaremos dummies de nuestros datos categ√≥ricos.  
La siguiente imagen nos ayudar√° a entender su proceso.

In [ ]:
dummies = pd.get_dummies(X["race"])

In [ ]:
print(dummies)

In [ ]:
X = pd.concat([X, dummies],axis =1)

In [ ]:
X.head()

In [ ]:
del X["race"]

In [ ]:
X.head(0)

In [ ]:
X["native-country"].value_counts()

In [ ]:
X["native-country"] = X["native-country"].apply(lambda x: "country-usa" if x==" United-States" else "country-other")

In [ ]:
X["native-country"].value_counts()

In [ ]:
dummies =pd.get_dummies(X["native-country"])
X = pd.concat([X,dummies], axis =1)
del X["native-country"]

In [ ]:
X.dtypes == 'object'

In [ ]:
X.columns = X.columns.str.replace(" ","")
X.dtypes == 'object'

In [ ]:
print("workclass", len(X["workclass"].unique()))

In [ ]:
print("sex", len(X["sex"].unique()))

In [ ]:
for nombre_columna in X.columns:
    if X[nombre_columna].dtypes == 'object':
        numero_categorias = len(X[nombre_columna].unique())
        print(nombre_columna, numero_categorias)

In [ ]:
for nombre_columna in X.columns:
    if X[nombre_columna].dtypes == 'object':
        dummies = pd.get_dummies(X[nombre_columna])
        X = pd.concat([X, dummies], axis=1)
        del X[nombre_columna]
        X.columns = X.columns.str.replace(" ", "")
X.head()

En general, los algoritmos de aprendizaje autom√°tico se beneficia de la estandarizacion del conjuto de datos.  
La estandarizaci√≥n de conjuntos de datos es un requisito com√∫n para muchos modelos de aprendizaje autom√°tico implementados en scikit-learn; pueden comportarse mal si las caracteristicas individuales no se parecen m√°s o menos a los datos est√°ndar distribuidos normalmente.  
En este caso para la estandarizaci√≥n, escalaremos las caracter√≠sticas para que se encuentren entre un valor m√≠nimo y m√°ximo dado, a menudo entre cero y uno. En esta ocasi√≥n usaremos el MinMaxScaler.

In [ ]:
from sklearn.preprocessing import MinMaxScaler 
X = MinMaxScaler().fit_transform(X)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.40, random_state =15)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
LR = LogisticRegression()

In [ ]:
LR.fit(X_train, y_train)
y_train_pred = LR.predict(X_train)
y_test_pred = LR.predict(X_test)

In [ ]:
print(accuracy_score(y_train, y_train_pred), "Accuracy - Datos entrenamiento")

In [ ]:
print(accuracy_score(y_test, y_test_pred), "Accuracy - Datos de test")

## Otras M√©tricas?

In [ ]:
from sklearn import metrics
print(metrics.confusion_matrix(y_test, y_test_pred))

In [ ]:
matrizDeConfusion = metrics.confusion_matrix(y_test, y_test_pred)

In [ ]:
VN = matrizDeConfusion[0,0]
FP = matrizDeConfusion[0,1]
FN = matrizDeConfusion[1,0]
VP = matrizDeConfusion[1,1]

### ACCURACY:  
Exactitud = (VP+VN)/(P+N)  
Exactitud = (1813+9215)/(3102+9923)  
Exactitud = 0.84

In [ ]:
(VP+VN)/(VP+VN+FP+FN)

### ESPECIFICIDAD:   
Frecuencia que son nuestro valor negativo obtenemos que tambien lo es.  
Especificidad = VN(VN+FP)  
Especificidad = 9215(9215+708)  
Especificidad = 0.92

In [ ]:
print(VN/(VN+FP))

In [ ]:
print(VP/(VP+FN))

In [ ]:
print(FP/(VN+FP))

In [ ]:
print("Valores de 25 observaciones reales")
print(y_test[0:25])

In [ ]:
print("Valores de 25 observaciones predichas")
print(y_test_pred[0:25])

In [ ]:
y_test_pred_proba = LR.predict_proba(X_test)
print(y_test_pred_proba[0:25])

In [ ]:
from sklearn.preprocessing import binarize
y_pred_class = binarize(y_test_pred_proba, 0.25)
print (metrics.confusion_matrix(y_test, y_pred_class[:,1]))

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')
%matplotlib inline
plt.xlim([0.0,1.0])
plt.ylim([0.0,1.0])
plt.title('Espesificidad\n1.0                0.8                0.6                0.4               0.2                0.0', fontsize=10)
plt.xlabel('1 - Epecifisidad')
plt.ylabel('Sensibilidad')
plt.grid(True)

In [ ]:
from IPython.display import set_matplotlib_formats 
set_matplotlib_formats('retina') 
%matplotlib inline 
rfp, rvp, umbrales = metrics.roc_curve(y_test, y_test_pred_proba[:,1]) 
plt.plot(rfp, rvp) 
plt.plot([0, 1], [0, 1], color='black', lw=1, linestyle='--') 
plt.xlim([0.0, 1.0]) 
plt.ylim([0.0, 1.0]) 
plt.title('Espesificidad\n1.0                0.8                0.6                0.4               0.2                0.0', fontsize=10) 
plt.xlabel('1 - Espesificidad = Ratio de falsos positivos') 
plt.ylabel('Sensibilidad = Ratio verdaderos positivos') 
plt.grid(True)

In [ ]:
print(metrics.roc_auc_score(y_test, y_test_pred))

Por tanto, la m√©trica de AUC nos es muy √∫til para poder obtener el rendimiento de un clasificador, indiferentemente de que umbral se fuese a escoger. Nos da la posibilidad de tener en un solo resultado su rendimiento general.