In [1]:
import pandas as pd
import numpy as np

In [81]:
df_or = pd.read_csv('green_tripdata_2015-01.csv')

In [82]:
df = df_or

In [83]:
df.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,01/01/2015 00:34,01/01/2015 00:38,N,1,-73.922592,40.754528,-73.913635,40.765522,1,...,5.0,0.5,0.5,0.0,0.0,NaN,0.3,6.3,2,1.0
1,2,01/01/2015 00:34,01/01/2015 00:47,N,1,-73.952751,40.677711,-73.981529,40.658978,1,...,12.0,0.5,0.5,0.0,0.0,NaN,0.3,13.3,2,1.0
2,1,01/01/2015 00:34,01/01/2015 00:38,N,1,-73.843010,40.719055,-73.846581,40.711567,1,...,5.0,0.5,0.5,1.8,0.0,NaN,0.0,7.8,1,1.0
3,2,01/01/2015 00:34,01/01/2015 00:38,N,1,-73.860825,40.757793,-73.854042,40.749821,1,...,5.0,0.5,0.5,0.0,0.0,NaN,0.3,6.3,2,1.0
4,2,01/01/2015 00:34,01/01/2015 01:09,N,1,-73.945183,40.783321,-73.989624,40.765450,1,...,24.5,0.5,0.5,0.0,0.0,NaN,0.3,25.8,2,1.0

In [85]:
df['RateCodeID'].value_counts()

1     1020308
5       24160
2        2980
3         748
4         352
6          21
99          6
Name: RateCodeID, dtype: int64

In [84]:
df.shape

(1048575, 21)

In [35]:
col = df.columns.tolist()

In [36]:
for column in col:
  print("{}: {}".format(column, df[column].isnull().sum()))

VendorID: 0
lpep_pickup_datetime: 0
Lpep_dropoff_datetime: 0
Store_and_fwd_flag: 0
RateCodeID: 0
Pickup_longitude: 0
Pickup_latitude: 0
Dropoff_longitude: 0
Dropoff_latitude: 0
Passenger_count: 0
Trip_distance: 0
Fare_amount: 0
Extra: 0
MTA_tax: 0
Tip_amount: 0
Tolls_amount: 0
Ehail_fee: 1048458
improvement_surcharge: 0
Total_amount: 0
Payment_type: 0
Trip_type : 5

In [37]:
df.duplicated().sum()

0

In [38]:
df.drop_duplicates(inplace = True)
#df = df.drop(df.loc(df.duplicated())
#df = df.drop(['Ehail_fee'],axis=1)
#df = df.loc[df['Dropoff_longitude'] == 0]

In [39]:
df = df.drop(['Ehail_fee'],axis=1)

In [40]:
df.shape

(1048458, 20)

In [41]:
df.dropna(inplace = True)

In [42]:
df.shape

(1048453, 20)

In [43]:
df.describe()

,VendorID,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type
count,1.048453e+06,1.048453e+06,1.048453e+06,1.048453e+06,1.048453e+06,1.048453e+06,1.048453e+06,1.048453e+06,1.048453e+06,1.048453e+06,1.048453e+06,1.048453e+06,1.048453e+06,1.048453e+06,1.048453e+06,1.048453e+06,1.048453e+06
mean,1.778673e+00,1.097644e+00,-7.382167e+01,4.068687e+01,-7.381723e+01,4.068273e+01,1.389440e+00,2.782883e+00,1.173387e+01,3.428313e-01,4.865834e-01,1.116702e+00,9.530457e-02,2.807926e-01,1.499975e+01,1.561045e+00,1.022897e+00
std,4.151404e-01,6.144429e-01,2.904340e+00,1.601574e+00,2.955015e+00,1.629369e+00,1.078480e+00,2.952065e+00,9.551968e+00,3.605999e-01,8.480507e-02,3.804202e+00,1.167220e+00,7.343917e-02,9.668768e+02,5.218226e-01,1.495739e-01
min,1.000000e+00,1.000000e+00,-7.535131e+01,0.000000e+00,-7.543967e+01,0.000000e+00,0.000000e+00,0.000000e+00,-4.000000e+02,-1.000000e+00,-5.000000e-01,-1.450000e+01,-1.816000e+01,0.000000e+00,-4.000000e+02,1.000000e+00,1.000000e+00
25%,2.000000e+00,1.000000e+00,-7.395934e+01,4.070041e+01,-7.396800e+01,4.070253e+01,1.000000e+00,1.010000e+00,6.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,7.800000e+00,1.000000e+00,1.000000e+00
50%,2.000000e+00,1.000000e+00,-7.394547e+01,4.074686e+01,-7.394550e+01,4.074789e+01,1.000000e+00,1.830000e+00,9.000000e+00,5.000000e-01,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.080000e+01,2.000000e+00,1.000000e+00
75%,2.000000e+00,1.000000e+00,-7.391782e+01,4.080241e+01,-7.391186e+01,4.079070e+01,1.000000e+00,3.540000e+00,1.450000e+01,5.000000e-01,5.000000e-01,1.750000e+00,0.000000e+00,3.000000e-01,1.700000e+01,2.000000e+00,1.000000e+00
max,2.000000e+00,9.900000e+01,0.000000e+00,4.291825e+01,0.000000e+00,4.291817e+01,9.000000e+00,8.304000e+02,8.000000e+02,1.000000e+00,8.000000e-01,4.900000e+02,8.698800e+02,3.000000e-01,9.899704e+05,5.000000e+00,2.000000e+00

### To delete: 
All rows in columns Pickup_longitude Pickup_latitude  Dropoff_longitude Dropoff_latitude with value 0.

In [44]:
df = df.loc[df['Pickup_longitude'] != 0]

In [45]:
df = df.loc[df['Pickup_latitude'] != 0]

In [46]:
df = df.loc[df['Dropoff_longitude'] != 0]

In [ ]:
df = df.loc[df['Dropoff_latitude'] != 0]

In [47]:
df = df.loc[df['RateCodeID'] != 99]
df.shape

(1045563, 20)

In [48]:
df.dtypes

VendorID                   int64
lpep_pickup_datetime      object
Lpep_dropoff_datetime     object
Store_and_fwd_flag        object
RateCodeID                 int64
Pickup_longitude         float64
Pickup_latitude          float64
Dropoff_longitude        float64
Dropoff_latitude         float64
Passenger_count            int64
Trip_distance            float64
Fare_amount              float64
Extra                    float64
MTA_tax                  float64
Tip_amount               float64
Tolls_amount             float64
improvement_surcharge    float64
Total_amount             float64
Payment_type               int64
Trip_type                float64
dtype: object

col = df.columns.tolist()
for col in df:
    print(df[col].mean())

In [49]:
df.shape

(1045563, 20)

# Then we will split the dataset
The principal reason is because it's a good pratice dont work with all the samples, so for this reason and also because we hace a very large dataset.  
 * 80 % train: 836450   
 * 20 % test: 209113
 
 Optionally:
 * 10 % validation

In [54]:
df.shape

(1045563, 20)

In [66]:
from random import sample
lil_df = df.loc[np.random.choice(df.index, 836450, replace = False)]
lil_df.shape

(836450, 20)

In [67]:
lil_df = lil_df.sort_values(by = 'lpep_pickup_datetime')

In [68]:
lil_df.reset_index(drop = True, inplace = True)

In [71]:
lil_df.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,01/01/2015 00:00,01/01/2015 00:12,N,1,-73.930908,40.694630,-73.956932,40.712601,1,2.08,10.0,0.5,0.5,2.62,0.0,0.3,13.92,1,1.0
1,2,01/01/2015 00:00,01/01/2015 00:12,N,1,-73.928574,40.704853,-73.987572,40.703831,1,3.68,13.0,0.5,0.5,3.38,0.0,0.3,17.68,1,1.0
2,2,01/01/2015 00:00,01/01/2015 00:27,N,1,-73.921448,40.766762,-73.924980,40.681644,1,9.19,29.5,0.5,0.5,0.00,0.0,0.3,30.80,1,1.0
3,1,01/01/2015 00:00,01/01/2015 00:05,N,1,-73.918846,40.743019,-73.901253,40.745758,1,1.00,5.5,0.5,0.5,0.00,0.0,0.3,6.80,2,1.0
4,1,01/01/2015 00:00,01/01/2015 00:07,N,1,-73.928108,40.670444,-73.947319,40.674217,1,1.20,7.0,0.5,0.5,0.00,0.0,0.3,8.30,2,1.0

In [70]:
lil_df.duplicated().sum()

0

In [72]:
df_clean = lil_df

In [73]:
df_clean.describe()

,VendorID,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type
count,836450.000000,836450.000000,836450.000000,836450.000000,836450.000000,836450.000000,836450.000000,836450.000000,836450.000000,836450.000000,836450.000000,836450.000000,836450.000000,836450.000000,836450.000000,836450.000000,836450.000000
mean,1.779395,1.096191,-73.935902,40.749820,-73.935457,40.747893,1.389349,2.786711,11.731718,0.342999,0.486781,1.104673,0.095061,0.280899,15.224995,1.560933,1.022629
std,0.414655,0.611899,0.041721,0.056895,0.049720,0.057446,1.078491,2.975272,9.438774,0.360519,0.084308,3.142304,1.241046,0.073250,1082.476392,0.521695,0.148718
min,1.000000,1.000000,-75.351311,39.947926,-75.439667,39.357143,0.000000,0.000000,-400.000000,-1.000000,-0.500000,-14.500000,-18.160000,0.000000,-400.000000,1.000000,1.000000
25%,2.000000,1.000000,-73.959381,40.700474,-73.968040,40.702694,1.000000,1.010000,6.000000,0.000000,0.500000,0.000000,0.000000,0.300000,7.800000,1.000000,1.000000
50%,2.000000,1.000000,-73.945518,40.746868,-73.945595,40.747952,1.000000,1.830000,9.000000,0.500000,0.500000,0.000000,0.000000,0.300000,10.800000,2.000000,1.000000
75%,2.000000,1.000000,-73.917915,40.802422,-73.912109,40.790771,1.000000,3.550000,14.500000,0.500000,0.500000,1.800000,0.000000,0.300000,17.000000,2.000000,1.000000
max,2.000000,99.000000,-70.957291,42.918247,-70.938744,42.918175,9.000000,830.400000,480.000000,1.000000,0.500000,475.000000,869.880000,0.300000,989970.390000,5.000000,2.000000

In [75]:
df_clean.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,01/01/2015 00:00,01/01/2015 00:12,N,1,-73.930908,40.694630,-73.956932,40.712601,1,2.08,10.0,0.5,0.5,2.62,0.0,0.3,13.92,1,1.0
1,2,01/01/2015 00:00,01/01/2015 00:12,N,1,-73.928574,40.704853,-73.987572,40.703831,1,3.68,13.0,0.5,0.5,3.38,0.0,0.3,17.68,1,1.0
2,2,01/01/2015 00:00,01/01/2015 00:27,N,1,-73.921448,40.766762,-73.924980,40.681644,1,9.19,29.5,0.5,0.5,0.00,0.0,0.3,30.80,1,1.0
3,1,01/01/2015 00:00,01/01/2015 00:05,N,1,-73.918846,40.743019,-73.901253,40.745758,1,1.00,5.5,0.5,0.5,0.00,0.0,0.3,6.80,2,1.0
4,1,01/01/2015 00:00,01/01/2015 00:07,N,1,-73.928108,40.670444,-73.947319,40.674217,1,1.20,7.0,0.5,0.5,0.00,0.0,0.3,8.30,2,1.0

In [76]:
df_clean['RateCodeID'].unique()

array([ 1,  5,  2,  3,  4,  6, 99], dtype=int64)

In [86]:
col = df_clean.columns.tolist()

for column in col:
  print("{}: {}".format(column, df_clean[column].unique()))

VendorID: [2 1]
lpep_pickup_datetime: ['01/01/2015 00:00' '01/01/2015 00:01' '01/01/2015 00:02' ...
 '22/01/2015 16:20' '22/01/2015 16:21' '22/01/2015 16:22']
Lpep_dropoff_datetime: ['01/01/2015 00:12' '01/01/2015 00:27' '01/01/2015 00:05' ...
 '22/01/2015 16:22' '22/01/2015 16:23' '22/01/2015 16:21']
Store_and_fwd_flag: ['N' 'Y']
RateCodeID: [ 1  5  2  3  4  6 99]
Pickup_longitude: [-73.9309082  -73.92857361 -73.92144775 ... -73.85050201 -73.78638458
 -74.0144043 ]
Pickup_latitude: [40.69462967 40.70485306 40.76676178 ... 40.63927078 40.87960052
 40.85572433]
Dropoff_longitude: [-73.95693207 -73.98757172 -73.92498016 ... -73.78171539 -73.74061584
 -73.80302429]
Dropoff_latitude: [40.71260071 40.70383072 40.68164444 ... 40.86904907 40.64959717
 40.86332703]
Passenger_count: [1 2 5 4 6 3 8 0 7 9]
Trip_distance: [ 2.08  3.68  9.19 ... 26.47 22.39 25.62]
Fare_amount: [ 1.0000e+01  1.3000e+01  2.9500e+01  5.5000e+00  7.0000e+00  3.5000e+01
  6.0000e+00  4.5000e+00  1.9000e+01  1.1500e+01  1.3500e+01  3.0000e+00
  1.2500e+01  6.5000e+00  1.4500e+01  2.1000e+01  9.0000e+00  1.0500e+01
  8.5000e+00  1.5500e+01  5.0000e+00  8.0000e+00  1.4000e+01  4.0000e+00
  7.5000e+00  2.3000e+01  1.7000e+01  2.0500e+01  2.4500e+01  2.5000e+00
  1.1000e+01  3.5000e+00  2.4000e+01  1.6000e+01  2.9000e+01  4.2000e+01
  4.0000e+01  2.1500e+01  1.8000e+01  3.3500e+01  1.7500e+01  9.5000e+00
  4.3500e+01  1.8500e+01 -2.5000e+00  3.4000e+01  2.2000e+01  1.5000e+01
  4.2500e+01  0.0000e+00  8.1500e+01  3.0500e+01  2.8500e+01  2.3500e+01
  1.2000e+01  2.5500e+01  2.6000e+01  2.6500e+01  2.2500e+01  1.6500e+01
  2.7500e+01  2.7000e+01  4.7000e+01  2.8000e+01  2.5000e+01  2.0000e+01
  3.6500e+01  5.2000e+01  3.2500e+01  4.9000e+01  3.1500e+01  1.9500e+01
  3.5500e+01  3.9000e+01  3.0000e+01  3.1000e+01  3.2000e+01  4.0500e+01
  4.5500e+01  5.2500e+01  3.4500e+01  6.0000e+01  4.1000e+01  3.7500e+01
  3.6000e+01  5.6000e+01  5.0000e+01  4.8000e+01  3.3000e+01  3.7000e+01
  4.7500e+01  1.1800e+01  3.8000e+01  4.1500e+01  3.9500e+01  7.4000e+01
  4.9500e+01  5.1000e+01  4.3000e+01  4.6000e+01  4.4500e+01  4.8500e+01
  4.4000e+01  3.0000e-01  2.2800e+01  4.6500e+01  7.1000e+01  5.5500e+01
  5.1500e+01 -3.0000e+00  5.3500e+01  6.2000e+01  5.3000e+01  1.5000e+00
  7.2500e+01  4.5000e+01  6.4500e+01  5.4000e+01  3.8500e+01  6.9000e+01
  1.1200e+02 -4.5000e+00  1.4800e+01  1.0000e-02  5.7500e+01  3.5800e+01
  6.0500e+01  8.8000e+01  6.7500e+01  5.4500e+01  1.1700e+02  5.0500e+01
  6.8000e+01  1.2000e+02  6.1000e+01  5.8500e+01  5.9000e+01  5.5000e+01
 -5.0000e+00  2.4800e+01  2.4600e+02  6.4000e+01  6.6000e+01  6.3500e+01
  8.0500e+01  6.5500e+01  8.5000e+01  5.7000e+01  7.0000e+01 -5.5000e+00
  9.2000e+01  6.0000e-01  9.0000e+01  5.9500e+01  8.0000e+01  6.1500e+01
  1.3400e+02 -1.3400e+02  5.8000e+01  1.0000e+02  7.4500e+01  2.0000e+02
  7.5000e+01 -3.5000e+00 -5.0000e+01  5.6500e+01  7.7000e+01  7.7500e+01
  1.5000e+02  6.3000e+00  7.1500e+01  4.0000e+02  1.9850e+02 -6.0000e+00
  7.2000e+01 -2.0000e+01  6.8500e+01  8.9000e+01  8.8000e+00 -4.0000e+00
  7.8000e+01  6.5000e+01  1.2200e+01  7.8500e+01 -4.5000e+01  7.0500e+01
 -1.1000e+02  8.1000e+01  1.0800e+01  7.9500e+01  7.6000e+01  1.0150e+02
  8.2500e+01  8.8500e+01  1.1800e+02  2.3100e+02 -1.5000e+01  1.4800e+02
  6.2500e+01  6.3000e+01  2.5000e-01  1.0000e+00  1.0700e+01  3.5000e+02
  1.0850e+02  7.3000e+01  2.0000e+00 -5.2000e+01  7.8000e+00  1.4000e+02
  1.2200e+02  1.7700e+01  1.6300e+01  2.3000e-01  9.7000e+01 -6.5000e+00
  7.9000e+01  6.7000e+01  8.3000e+01  1.6000e-01 -1.6000e+01  9.8000e+01
  7.2000e+00  8.2000e+00  9.3000e+01  1.1200e+01  3.9340e+01  8.0070e+01
  9.2000e+00  1.3200e+01  1.8800e+01  7.5500e+01  2.1000e+00  6.6500e+01
  1.0600e+02  8.0000e-02  8.6000e+01  1.0000e-01 -1.1500e+01  8.9500e+01
  8.5500e+01  1.8000e+00  2.2000e+00  1.2250e+02  1.7000e-01 -8.0000e+00
  1.1300e+02  1.3250e+01  1.1000e+02  9.9000e+01  3.0000e+02 -7.0000e+00
  1.6000e+02 -6.5000e+01  4.5000e+02  2.5000e+02  2.0000e-02  7.6500e+01
 -7.0000e+01  2.2220e+01  1.6800e+01  1.2300e+01  8.7000e+01  6.8000e+00
  1.5180e+01  1.5550e+01  1.1000e+00  1.0450e+02  7.0000e-01  1.7000e+02
  2.8000e+00  1.8000e-01  5.2000e-01 -1.0000e+01  8.7500e+01  1.2720e+01
  3.8000e+00  1.0250e+02  1.0550e+02  6.9500e+01  1.5190e+02  8.3500e+01
 -1.0500e+01 -5.5000e+01  8.3000e+00  1.0550e+01  5.8330e+01  8.6500e+01
  1.3800e+02  2.8800e+01  9.7500e+01  1.3450e+02  2.3800e+01  8.4500e+01
  8.8200e+01  1.1250e+02  1.5880e+01  1.8880e+01  8.9600e+00  8.2000e+01
  2.9150e+01  1.7800e+02  2.0800e+01  1.2800e+01  1.0750e+02  1.0100e+02
  9.8000e+00  7.8400e+00  7.3000e+00  5.1000e+00  3.9000e+00  6.6600e+00
 -1.8000e+01  9.4500e+01  2.4000e+00  8.4000e+01  4.9500e+00  1.5300e+01
  4.7000e-01  1.2850e+02  9.5000e+01  9.7000e+00  5.5550e+01  2.8300e+01
  7.7700e+00  1.0950e+02  1.8300e+01  5.0000e-01  1.5000e-01  1.3800e+01
  1.3440e+01  3.3130e+01  3.8000e-01  3.1000e+00  1.3000e-01  1.6000e+00
  9.1000e+01  1.4400e+02  1.7000e+00  9.6000e+01  5.0000e-02  1.2500e+00
  1.2500e+02 -1.0000e-02 -4.0000e+02  1.0700e+02  7.0090e+01 -7.0090e+01
  4.4400e+01  2.1100e+01  3.1670e+01  9.2500e+01  2.8750e+01  9.9000e+00
  1.1950e+02  2.9200e+01  1.0200e+02  4.2560e+01  5.3000e+00  1.1100e+02
  1.4000e-01  4.8000e+02  3.5890e+01  4.5720e+01  2.0080e+01  3.5870e+01
  3.0810e+01  1.5870e+01  2.1980e+01  2.0780e+01  1.9950e+02  1.7300e+01
  6.1750e+01  9.3500e+01  1.2000e-01 -1.5000e-01  1.8000e+02  1.3100e+02
  8.0000e-01  4.9000e-01  9.0500e+01  9.6500e+01  4.5450e+01  1.0890e+01
  9.5500e+01  2.5300e+01  1.0500e+02  5.7300e+01  2.9700e+01  9.1500e+01
  6.5650e+01  1.1300e+01  6.2500e+00  4.1300e+01  1.4500e+02  9.8500e+01
 -1.4000e+01 -1.3500e+01  2.6880e+01 -2.1500e+01  6.1400e+00  1.6250e+01
  1.3290e+01  7.3500e+01 -2.1000e+01  1.5800e+01  1.2300e+02  6.9920e+01
  1.5770e+01  8.8800e+00  3.0400e+02  1.4300e+01  1.3000e+00  5.2800e+01
  2.9000e+00  1.2600e+01  2.4200e+01  2.0150e+02  2.2300e+01  4.8000e+00
  1.2700e+02  2.7080e+02 -1.9500e+01  1.2850e+01  3.0050e+01  7.4630e+01
 -1.1000e+01  7.0500e+00  1.1500e+02  1.2150e+02  3.5550e+01  2.9500e+02
  1.3000e+02 -3.0000e+01 -2.0000e-01  2.0000e-01  1.7950e+02  3.3250e+01
  4.7500e+02  2.7500e+02  1.9000e+02  7.5000e-01  1.6700e+02  1.9200e+01
 -8.5000e+00  2.6300e+01  6.8880e+01  9.5800e+01  2.4400e+01  1.6430e+01
 -1.5000e+02  2.0090e+01  1.5750e+01 -7.8000e+01  9.9500e+01 -6.0000e+01
 -2.5000e+01  1.8300e+02  1.8950e+02  1.4200e+01  2.4950e+02  1.3009e+02
  3.8800e+01  1.0300e+02  1.3350e+02  1.1150e+02  3.1300e+01  2.0005e+02
 -1.0000e+00 -3.5000e+01  1.6750e+02 -1.7500e+01  2.5800e+01  1.5700e+01
  8.0080e+01  1.0500e+00  6.5170e+01  2.4700e+01  3.9200e+01  4.4000e+00
  5.7000e+00  2.2200e+01  1.9000e+00  1.6500e+02  1.2000e+00 -2.0000e+02
  4.0700e+01  1.6550e+01  5.5500e+00  1.9500e+02  8.9300e+00  2.1200e+01
  1.1110e+01  4.5008e+02  6.0000e-02  5.8000e+00  1.5050e+02  1.6508e+02
  2.7000e+00  1.1700e+01  2.6000e+00  1.3090e+01  1.9800e+01  1.2750e+02
  1.1090e+01  1.2450e+02 -5.5500e+00  2.1300e+01  1.8900e+02  9.4000e+01
  4.4670e+01  8.2500e+00  1.7800e+01  2.2500e+00  1.3050e+02  1.8800e+02
  3.3000e+00  3.0800e+01  4.5500e+02  9.3000e+00  1.3650e+02  1.6380e+02
  3.0001e+02  1.3220e+02  1.0200e+01  1.4250e+02  1.1450e+02  1.6330e+01
  4.2750e+02  2.9380e+01  1.0350e+02  1.4300e+02  1.7850e+02  5.9200e+01
  1.5800e+00  1.2800e+02  1.5800e+02 -5.6000e+01  9.6000e+00  1.3300e+01
  4.3000e+00  3.4500e+02  1.4750e+01  1.9990e+01  8.7200e+00 -8.5000e+01
  2.1800e+01  1.0650e+02  1.7500e+02  3.0330e+01  1.4550e+02  1.6400e+02
  1.0050e+01  1.5600e+02  1.8350e+02  1.9350e+02  1.5680e+01  1.6200e+01
  4.9300e+01  2.2000e-01  1.1650e+02  4.5550e+01  4.5000e-01 -3.3000e+01
  1.2900e+01  7.0300e+01  3.2500e+02  1.3500e+02  1.3330e+01 -2.0000e+00
  5.1200e+01  1.1730e+02  7.3800e+01  2.3300e+01 -1.1111e+02  1.1111e+02
  2.6700e+01  2.7460e+01  2.9600e+01  1.2090e+01 -1.2000e+02  3.4850e+02
  1.2100e+01  1.2600e+02  1.0400e+02  2.3870e+01  1.0900e+02  1.5750e+02
  4.1770e+01  2.2050e+02  5.4920e+01  1.0380e+01  1.1600e+02  2.2000e+02
  1.5950e+02 -1.3000e+00  1.5100e+02  8.9000e+00  1.0300e+01  7.4000e-01
 -1.3000e+01  1.0480e+01  1.7700e+02 -2.4200e+01  1.1400e+02  1.2550e+02
  3.0000e-02  2.8000e-01  1.2650e+02 -2.2000e+01  2.1300e+02 -3.0000e+02
  4.7330e+01  5.7460e+01  2.0160e+01  1.6100e+02  6.4800e+01  8.8000e-01
  4.2000e+02  1.0950e+01  4.0750e+01  6.0750e+01  1.5500e+02  4.4800e+01
  5.7170e+01  7.0000e-02 -9.5000e+00  9.6300e+00]
Extra: [ 0.5  0.  -0.5  1.  -1. ]
MTA_tax: [ 0.5  0.  -0.5]
Tip_amount: [ 2.62  3.38  0.   ... 14.91 24.54 23.08]
Tolls_amount: [ 0.0000e+00  5.3300e+00  7.5000e+00  2.4400e+00  9.7500e+00  1.0660e+01
  1.3000e+01  1.2830e+01  9.0000e+00  2.0000e+00  1.2750e+01  1.9500e+01
  1.5080e+01  7.3300e+00  5.0000e-01  1.1750e+01  1.4870e+02  1.5000e+00
  1.7000e+01  8.6988e+02 -1.8160e+01  1.8160e+01  9.8400e+00  1.5000e+01
  2.3430e+01  4.0000e+00  7.7700e+00  2.2410e+01  2.3000e+01  3.0000e+00
  5.3500e+00  1.8000e+01  1.3330e+01  1.1000e+01  1.7080e+01  1.2000e+01
  1.6000e+01  5.3400e+00  2.2860e+01  3.3500e+01  1.0330e+01  1.4190e+01
  1.4700e+01  6.7000e+01  1.0600e+01  1.8750e+01  5.5000e+00  8.0100e+00
  9.2000e+00  6.5800e+00  2.0410e+01  1.9080e+01  8.0000e+00  9.2500e+00
  5.8300e+00  1.0000e+01  1.0000e+00  1.4000e+01  1.9700e+01  1.3450e+01
  4.8000e+01  1.8900e+01  2.3000e+00 -2.3000e+00  1.4100e+01  3.5000e+00
  6.0000e+00  5.3200e+00  2.1000e+01  3.0000e-01  5.0000e+00  3.0000e+01
  1.2190e+01  2.1080e+01  2.0000e+01  1.5990e+01  4.7000e+01  5.8500e+00
  5.3000e+00  1.4750e+01  2.5080e+01  1.0210e+01  2.5000e+01  2.7410e+01
  2.1500e+01  5.0000e+01  6.1300e+00  2.3300e+00  1.0732e+02  3.5000e+01
  7.0000e+00  1.1111e+02  2.5000e+00  2.4830e+01  1.9800e+01  3.4160e+01
 -5.3300e+00  1.0200e+01  1.5700e+01  1.3700e+01  1.0000e-02 -2.0000e+00
  5.5500e+00  3.2000e+00  2.3700e+01  2.2500e+01  1.5750e+01  1.2500e+01
  4.4400e+00  2.2280e+01  1.9750e+01  1.4250e+01  1.5250e+01  1.5000e-01
  3.0000e-02]
improvement_surcharge: [0.3 0. ]
Total_amount: [ 13.92  17.68  30.8  ...  48.49  89.46 106.34]
Payment_type: [1 2 3 4 5]
Trip_type : [1. 2.]

In [78]:
t1 = df_clean.loc[df_clean['RateCodeID'] == 99]

In [80]:
df_clean['RateCodeID'].value_counts()

1     814239
5      18979
2       2351
3        584
4        277
6         19
99         1
Name: RateCodeID, dtype: int64

In [ ]:
df_clean['RateCodeID'].value_counts()

In [93]:
df_clean['Total_amount'].value_counts()

 6.80      34661
 7.30      31375
 7.80      29629
 6.30      29278
 8.30      28494
 5.80      26333
 9.80      25085
 8.80      24947
 9.30      21920
 5.30      19447
 10.80     18483
 10.30     18085
 12.80     15182
 11.30     14840
 11.80     14203
 4.80      12753
 12.30     12736
 13.30     11832
 15.80     11253
 13.80     10646
 14.30      9598
 14.80      9058
 8.00       8617
 15.30      8290
 18.80      7053
 16.30      6992
 4.30       6703
 16.80      6571
 17.30      6174
 8.60       6088
           ...
 152.00        1
 4.52          1
 137.95        1
 93.11         1
 92.71         1
 16.02         1
-150.00        1
-111.11        1
 13.11         1
 80.01         1
 16.99         1
 67.54         1
 2.01          1
 64.33         1
 64.17         1
 123.05        1
-27.13         1
 55.25         1
 170.94        1
 34.05         1
 64.83         1
 38.52         1
 123.55        1
 44.98         1
 23.91         1
 27.39         1
 58.26         1
 122.30        1
 57.96         1
 29.86         1
Name: Total_amount, Length: 4128, dtype: int64

In [94]:
df_clean['Total_amount'].describe()

count    836450.000000
mean         15.224995
std        1082.476392
min        -400.000000
25%           7.800000
50%          10.800000
75%          17.000000
max      989970.390000
Name: Total_amount, dtype: float64

In [110]:
t2 = df_clean.loc[df_clean['Total_amount'] >= 0 ]
t2 = t2.loc[t2['Total_amount'] <= 1000]
t2.shape

(835210, 20)

In [111]:
df_clean.shape

(836450, 20)

In [112]:
t2['Total_amount'].describe()

count    835210.000000
mean         14.077576
std          10.922953
min           0.000000
25%           7.800000
50%          10.800000
75%          17.000000
max         874.180000
Name: Total_amount, dtype: float64

In [ ]:
data_filter = dfg.loc[dfg['Pickup_longitude'] != (0)]
#df_clean = points.loc[points['Pickup_longitude'] != str(0)]

In [ ]:
data_filter = data_filter.loc[data_filter['Pickup_latitude'] != (0)]

In [ ]:
data_filter = data_filter.loc[data_filter['Dropoff_longitude'] != (0)]

In [ ]:
data_filter.shape

In [ ]:
x_coords = data_filter['Dropoff_longitude'].astype(float)
y_coords = data_filter['Pickup_latitude'].astype(float)

In [ ]:
col = data_filter.columns.tolist()

In [ ]:
for column in col:
  print("{}: {}".format(columns, datafilter[column].isnull().sum()))

In [ ]:
dfg.shape

In [ ]:
dfg.head()

In [ ]:
dfn = dfg.drop(dfg.columns[[16]], axis = 'columns')

In [ ]:
dfn = dfn.dropna()

In [ ]:
dfn.head()

In [ ]:
col = dfn.columns.tolist()
for column in col:
  print("{}: {}".format(column, dfn[column].isnull().sum()))

In [ ]:
dfn.shape

In [ ]:
dfg.describe()

In [ ]:
dfg.info()

In [ ]:
from bokeh.plotting import figure, save
p = figure(title="My first plot!")
p

In [ ]:
x_coords = [0,1,2,3,4]
y_coords = [5,4,1,2,0]

In [ ]:
p.circle(x=x_coords, y = y_coords, size = 10, color = "red")

In [ ]:
#C:\Users\alter\Desktop
outputfp = r"/Users/alter/Desktop/points.htmls"

In [ ]:
save(obj = p, filename = outputfp)

In [ ]:
import geopandas as gpd

In [ ]:
points_fp = r"/Users/alter/Documents/Barcelona/La Salle/Asignaturas/Data Mining/JupyterGH/green_tripdata_2015-02.csv"

# Read the data
points = gpd.read_file(points_fp)

In [ ]:
points.head()

In [ ]:
p = figure(title="A map of address points from a Shapefile")