In [1]:
import pandas as pd
import numpy as np

In [45]:
df_or = pd.read_csv('green_tripdata_2015-01.csv')

In [274]:
df = df_or

In [275]:
df.tail()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type
1048570,1,22/01/2015 14:56,22/01/2015 15:27,N,1,-73.959213,40.809345,-73.954941,40.765453,1,...,20.5,0.0,0.5,4.20,0.0,NaN,0.0,25.20,1,1.0
1048571,1,22/01/2015 14:55,22/01/2015 15:13,N,1,-73.897095,40.675816,-73.937881,40.666531,1,...,14.0,0.0,0.5,0.00,0.0,NaN,0.3,14.80,4,1.0
1048572,1,22/01/2015 14:55,22/01/2015 15:01,N,1,-73.874397,40.829514,-73.860619,40.837070,1,...,6.0,0.0,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0
1048573,1,22/01/2015 14:53,22/01/2015 15:01,N,1,-73.954147,40.787342,-73.971451,40.790321,2,...,7.0,0.0,0.5,1.55,0.0,NaN,0.3,9.35,1,1.0
1048574,1,22/01/2015 14:52,22/01/2015 15:05,N,1,-73.963608,40.672054,-73.995300,40.679649,4,...,10.5,0.0,0.5,2.80,0.0,NaN,0.3,14.10,1,1.0

In [276]:
df.shape

(1048575, 21)

### To delete: 
All rows in columns Pickup_longitude Pickup_latitude  Dropoff_longitude Dropoff_latitude with value 0.

In [277]:
df = df.drop(['Ehail_fee'],axis=1)

In [278]:
df.shape

(1048575, 20)

In [279]:
col = df.columns.tolist()

In [280]:
for column in col:
  print("{}: {}".format(column, df[column].isnull().sum()))

VendorID: 0
lpep_pickup_datetime: 0
Lpep_dropoff_datetime: 0
Store_and_fwd_flag: 0
RateCodeID: 0
Pickup_longitude: 0
Pickup_latitude: 0
Dropoff_longitude: 0
Dropoff_latitude: 0
Passenger_count: 0
Trip_distance: 0
Fare_amount: 0
Extra: 0
MTA_tax: 0
Tip_amount: 0
Tolls_amount: 0
improvement_surcharge: 0
Total_amount: 0
Payment_type: 0
Trip_type : 5

In [281]:
col = df.columns.tolist()

for column in col:
  print("{}: {}".format(column, df[column].unique()))

VendorID: [2 1]
lpep_pickup_datetime: ['01/01/2015 00:34' '01/01/2015 00:35' '01/01/2015 00:36' ...
 '22/01/2015 16:21' '22/01/2015 16:19' '22/01/2015 16:22']
Lpep_dropoff_datetime: ['01/01/2015 00:38' '01/01/2015 00:47' '01/01/2015 01:09' ...
 '22/01/2015 16:28' '22/01/2015 16:21' '22/01/2015 16:23']
Store_and_fwd_flag: ['N' 'Y']
RateCodeID: [ 1  5  2  3  4  6 99]
Pickup_longitude: [-73.92259216 -73.95275116 -73.84300995 ... -73.78638458 -73.85324097
 -74.0144043 ]
Pickup_latitude: [40.75452805 40.67771149 40.71905518 ... 40.88448334 40.63314438
 40.6570282 ]
Dropoff_longitude: [-73.91363525 -73.98152924 -73.84658051 ... -73.74492645 -73.65460968
 -74.18148804]
Dropoff_latitude: [40.765522   40.65897751 40.71156693 ... 40.59561157 40.88410568
 40.60508347]
Passenger_count: [1 4 5 2 6 3 8 0 7 9]
Trip_distance: [ 0.88  3.08  0.9  ... 26.27 22.39 25.62]
Fare_amount: [ 5.0000e+00  1.2000e+01  2.4500e+01  6.5000e+00  2.2000e+01  1.5000e+01
  7.0000e+00  8.0000e+00  1.6500e+01  3.9000e+01  2.4000e+01  7.5000e+00
  4.0000e+00  6.0000e+00  8.5000e+00  9.5000e+00  1.7000e+01  1.4500e+01
  2.9500e+01  1.9500e+01  4.3000e+01  1.2500e+01  3.0000e+00  1.9000e+01
  1.0500e+01  2.5000e-01  4.5000e+00  1.8500e+01  2.1500e+01  5.5000e+00
  1.1000e+01  1.4000e+01  1.6000e+01  2.1000e+01  2.6000e+01  4.1500e+01
  1.1500e+01  2.0000e+01  3.5000e+00  1.0000e+01  9.0000e+00  1.7500e+01
  2.2500e+01  3.1500e+01  3.7500e+01  2.3000e+01  3.6500e+01  3.2000e+01
  1.3500e+01  3.5500e+01  1.5500e+01  2.5000e+01  1.8000e+01  3.2500e+01
  4.4000e+01  2.5000e+00  3.0000e-01  2.7000e+01  2.0500e+01  2.6500e+01
  2.7500e+01  3.5000e+01  1.3000e+01  2.8500e+01  3.4000e+01  0.0000e+00
  2.9000e+01  2.5500e+01  2.2800e+01  3.3000e+01  2.3500e+01  4.8000e+01
  3.0500e+01  5.2000e+01  3.3500e+01  4.9500e+01  3.6000e+01  3.7000e+01
  2.8000e+01  3.4500e+01  7.1000e+01  4.0500e+01  5.5500e+01  3.9500e+01
  4.0000e+01  3.0000e+01  6.0000e+01  4.2500e+01  4.6500e+01 -2.5000e+00
  5.1500e+01  4.7000e+01  4.3500e+01  8.1500e+01  3.8000e+01  5.0000e+01
  8.0500e+01  3.1000e+01  5.2500e+01  4.5000e+01  6.4000e+01  5.5000e+01
  4.1000e+01  5.3500e+01  4.5500e+01 -3.5000e+00 -6.0000e+00  4.2000e+01
  8.0000e+01  3.8500e+01  6.3500e+01  6.9000e+01  4.9000e+01  6.6000e+01
  7.0000e+01 -3.0000e+00  4.0000e+02  4.6000e+01 -5.5000e+00  4.4500e+01
  7.1500e+01  1.9850e+02  5.3000e+01  1.5000e+00  5.6000e+01  7.3000e+01
  6.2000e+01  6.1500e+01  6.4500e+01  9.2500e+01  5.4000e+01  7.2500e+01
  7.5000e+01  8.5000e+01  7.2000e+01  9.3000e+01  6.5500e+01  1.1800e+01
  4.7500e+01  5.1000e+01  7.4000e+01 -4.5000e+00  1.4000e+02  1.4800e+01
  1.0000e-02  3.5800e+01  4.8500e+01  1.1200e+02  6.0500e+01  7.9500e+01
  7.0500e+01  5.7500e+01  5.8000e+01 -5.0000e+00  5.4500e+01  5.7000e+01
  5.8500e+01 -2.0000e+01  5.6500e+01  8.8000e+00  8.9000e+01  6.8500e+01
  5.9000e+01  1.5000e+02 -1.0000e+01  5.0500e+01  5.9500e+01  6.1000e+01
  1.1700e+02  1.2000e+02  6.8000e+01  6.7500e+01  8.8000e+01  2.4800e+01
  9.2000e+01  6.0000e-01  2.4600e+02  9.0000e+01  6.5000e+01 -4.0000e+00
  2.2220e+01 -4.5000e+01  7.8000e+01  1.1000e+02 -1.1000e+02  1.2200e+01
  6.2500e+01  7.8500e+01 -1.5000e+01  1.0000e+02  7.6000e+01  1.4800e+02
  1.3400e+02 -1.3400e+02  7.4500e+01  2.0000e+02  1.0800e+01  8.1000e+01
  2.5000e+02  8.2500e+01  5.4340e+01  1.0150e+02  8.8500e+01 -5.2000e+01
  1.1800e+02  2.3100e+02  1.0700e+01  1.5000e-01  1.0000e+00  6.7000e+01
  3.5000e+02  6.3000e+01  9.1000e+01  1.0850e+02  2.0000e+00  7.8000e+00
  1.2200e+02  9.7000e+01  2.3000e-01  4.1000e+02  7.9000e+01 -6.5000e+00
 -5.0000e+01  7.7000e+01  6.3000e+00  7.7500e+01  2.2000e+02  1.7700e+01
  1.0100e+02  9.2000e+00 -1.6000e+01  8.3000e+01  1.6000e-01  7.2000e+00
  9.8000e+01  8.2000e+00  1.1200e+01 -4.4500e+01  3.9340e+01  8.0070e+01
  1.3200e+01  1.8800e+01  1.0009e+02  2.3000e+00  7.5500e+01  8.6000e+01
  8.0000e-02  1.0000e-01  6.6500e+01 -1.1500e+01  1.8000e+00  2.1000e+00
 -8.0000e+00  8.9500e+01  1.0600e+02  1.3250e+01  3.0050e+01  2.2000e+00
  8.5500e+01  1.2250e+02  3.0000e+02  1.7000e-01 -6.5000e+01  9.9000e+01
  1.1300e+02 -7.0000e+00  1.6000e+02  4.5000e+02  2.0000e-02  2.0750e+02
  7.6500e+01 -7.0000e+01  8.7000e+01  1.6800e+01  1.2300e+01 -9.0000e+00
  1.5180e+01 -6.0000e+01  6.8000e+00  1.5550e+01  1.2500e+02  1.4500e+02
  1.1400e+02  1.1000e+00 -9.5000e+00  2.4000e+00  1.2900e+01  1.0450e+02
  7.0000e-01  1.8000e-01  1.7000e+02  8.7500e+01  9.1500e+01  1.2720e+01
  1.0550e+02  2.8000e+00  5.2000e-01  1.0650e+02  3.8000e+00  1.0250e+02
  6.9500e+01  1.5190e+02  2.8100e+01 -1.4000e+01  8.3500e+01 -5.5000e+01
  1.0550e+01  9.3500e+01  5.8330e+01  2.3800e+01  8.6500e+01 -1.0500e+01
  8.3000e+00  1.3800e+02  2.8800e+01  1.3450e+02  9.7500e+01  1.5880e+01
  8.8200e+01  1.1250e+02  8.4500e+01 -1.2000e+01  2.7700e+02  1.8880e+01
  8.2000e+01  8.9600e+00  1.1000e-01  1.7800e+02  2.0800e+01  9.8000e+00
  2.9150e+01  1.0750e+02  1.2800e+01  1.5950e+02  7.8400e+00 -1.8000e+01
  5.1000e+00  9.4500e+01  3.9000e+00  7.3000e+00  6.6600e+00  1.6300e+01
  4.9500e+00  1.5300e+01  8.4000e+01  4.7000e-01  1.2850e+02  1.1550e+02
  5.5550e+01  9.5000e+01  9.7000e+00  1.0200e+01  2.8300e+01  7.7700e+00
  1.0950e+02  5.0000e-01  1.8300e+01  1.3800e+01  3.8000e-01  3.2000e+00
  1.3440e+01  3.3130e+01  3.1000e+00  1.3000e-01  1.6000e+00  9.6000e+01
  9.0000e-02  1.4400e+02  1.7000e+00  5.0000e-02  1.2300e+02  1.2500e+00
  2.5250e+02 -1.0000e-02 -4.0000e+02  7.0090e+01 -7.0090e+01  4.4400e+01
  1.0700e+02  2.1100e+01  3.1670e+01  2.1200e+01  2.8750e+01  2.0000e-01
  9.9000e+00  1.1950e+02  4.2560e+01  2.9200e+01  1.0200e+02  8.8800e+00
  1.9000e+00  5.3000e+00  2.3050e+02  1.4000e+00  4.8000e+02  1.4000e-01
  1.1100e+02  3.5890e+01  2.0080e+01  3.0810e+01  1.5870e+01  2.0780e+01
  4.5720e+01  3.5870e+01  2.1980e+01  1.7300e+01  1.9950e+02  6.1750e+01
  1.2000e-01 -1.5000e-01  8.0000e-01  1.8000e+02  1.3100e+02  4.9000e-01
 -8.6000e+01  9.0500e+01  4.5450e+01  9.6500e+01  2.1740e+01  1.0890e+01
  1.4200e+01  9.5500e+01  1.7200e+01  2.5300e+01  1.0500e+02  5.7300e+01
  7.3500e+01  6.5650e+01  2.9700e+01  4.1300e+01  1.4300e+02  6.2500e+00
  1.1300e+01  8.0000e+02  9.8500e+01 -1.3500e+01  2.6880e+01 -2.1500e+01
  1.7550e+02  6.1400e+00  1.6250e+01 -2.1000e+01  1.3290e+01  1.5800e+01
  1.5770e+01  1.5750e+02  6.9920e+01  3.5550e+01  1.4300e+01  2.3870e+01
  3.0400e+02  1.3000e+00  5.2800e+01 -3.2000e+01  1.9800e+01  2.9000e+00
  1.2600e+01 -1.0000e+00  2.4200e+01 -2.4200e+01  1.2880e+01  4.6000e+02
  1.2220e+01  2.0150e+02  2.2300e+01  1.1600e+02  1.0008e+02  9.8800e+00
  2.4300e+01  4.8000e+00  1.2700e+02 -1.9500e+01  2.7080e+02  1.2850e+01
  7.4630e+01 -1.1000e+01  7.0500e+00  1.2150e+02  1.1500e+02  2.9500e+02
  1.3000e+02  1.1100e+00 -3.0000e+01 -2.0000e-01  2.7500e+02  3.3250e+01
  4.7500e+02  3.7500e+02  1.7950e+02  1.9000e+02  7.5000e-01  1.6700e+02
  1.9200e+01 -8.5000e+00  2.6300e+01  6.8880e+01  2.0300e+01  9.5800e+01
  2.4400e+01  1.6430e+01 -1.5000e+02  9.9900e+00  2.0090e+01  1.5750e+01
 -7.8000e+01  9.9500e+01  1.5500e+02 -2.5000e+01  1.8300e+02  1.8950e+02
  1.7800e+01  2.4950e+02  5.4440e+01  1.3009e+02  3.8800e+01  1.1150e+02
  1.0300e+02  1.3350e+02  3.1300e+01  2.0005e+02 -3.5000e+01  1.6750e+02
  4.0000e-01 -1.7500e+01  2.5800e+01  1.5700e+01  8.0080e+01  1.0500e+00
  6.5170e+01  2.4700e+01  8.7200e+00  3.9200e+01  4.4000e+00  5.7000e+00
  2.2200e+01  1.6500e+02  2.5900e+02 -2.0000e+02  1.2000e+00  4.0700e+01
  1.6550e+01  1.9500e+02  5.5500e+00  8.9300e+00  1.1110e+01  4.5008e+02
  5.8000e+00  1.3500e+02  6.0000e-02  1.6508e+02  1.5050e+02  2.7000e+00
 -2.0000e+00  1.8400e+02  1.1700e+01  1.3090e+01  2.6000e+00  1.2750e+02
  1.1090e+01  1.6450e+02  1.2450e+02  1.3650e+02 -5.5500e+00  2.1300e+01
  1.8900e+02  9.4000e+01  4.4670e+01  8.2500e+00  1.4560e+01  2.2500e+00
  1.3050e+02  4.7000e+00  1.8800e+02  3.3000e+00  3.0800e+01  4.4500e+02
  4.5500e+02  1.6380e+02  9.3000e+00  1.3220e+02  3.0001e+02  1.4250e+02
  1.1450e+02  2.1500e+02  1.6330e+01  7.1500e+00  4.2750e+02  2.9380e+01
  3.5630e+01  1.0350e+02  1.7850e+02  3.3000e+02  5.9200e+01  1.2800e+02
  1.5800e+00  1.5800e+02 -5.6000e+01  9.6000e+00  1.3300e+01  4.3000e+00
  3.4500e+02  1.4750e+01  1.9990e+01 -1.5000e+00 -8.5000e+01  2.1800e+01
  1.2950e+02  1.7500e+02  3.0330e+01  1.4550e+02  1.6400e+02  1.0050e+01
  1.9350e+02  1.5600e+02  1.8350e+02  1.5680e+01  4.0000e-02  3.5300e+01
  1.9650e+02  2.2600e+01  4.9300e+01  1.6200e+01 -6.4000e+01  2.2000e-01
  1.1650e+02  4.5550e+01  4.5000e-01 -3.3000e+01  3.2500e+02  7.0300e+01
  1.5067e+02  1.3330e+01  5.1200e+01  2.3300e+01  1.1730e+02  7.3800e+01
  1.1111e+02 -1.1111e+02  2.6700e+01  2.7460e+01  2.9600e+01  1.2090e+01
 -7.2000e+01 -1.2000e+02  1.2100e+01  3.4850e+02  1.2600e+02  7.0000e-02
  1.2400e+02  1.0400e+02  1.8600e+02  6.7300e+01 -1.0000e+02  1.0900e+02
  4.1770e+01  2.2050e+02  2.1300e+02  1.0380e+01  5.4920e+01  1.5100e+02
 -1.3000e+00  7.4000e-01  8.9000e+00  1.4200e+02  1.0300e+01 -1.3000e+01
  1.0480e+01  1.7250e+02  1.7700e+02  3.0000e-02  1.2550e+02  2.8000e-01
  2.8130e+01  1.2650e+02 -2.2000e+01 -3.0000e+02  1.4950e+02  2.0160e+01
  5.7460e+01  1.3550e+02 -5.7460e+01  4.7330e+01  5.0380e+01  6.4800e+01
  1.6100e+02  1.1530e+02  4.2000e+02  8.8000e-01  1.0950e+01  6.0750e+01
  4.0750e+01  4.4800e+01  5.7170e+01  9.6300e+00]
Extra: [ 0.5  0.   1.  -0.5 -1. ]
MTA_tax: [ 0.5  0.  -0.5  0.8]
Tip_amount: [ 0.    1.8   1.4  ... 11.74  6.94 15.36]
Tolls_amount: [ 0.0000e+00  5.3300e+00  2.4400e+00  9.7500e+00  1.9500e+01  1.0660e+01
  2.0000e+00  1.5080e+01  7.5000e+00  1.0000e+01  1.3000e+01  1.2830e+01
  1.4330e+01  5.0000e-01  7.3300e+00  1.4000e+01  9.0000e+00  1.1750e+01
  1.4870e+02  1.5000e+00  8.6988e+02  1.2750e+01  1.7000e+01 -1.8160e+01
  1.8160e+01  9.8400e+00  1.5000e+01  4.0000e+00  3.0000e+00  2.3430e+01
  7.7700e+00  1.6650e+01  2.2410e+01  2.3000e+01  5.3500e+00  1.8000e+01
  1.3330e+01  1.7080e+01  1.4750e+01  1.1000e+01  1.5750e+01  1.2000e+01
  2.3500e+01  1.6000e+01  2.2860e+01  5.3400e+00  3.3500e+01  1.0330e+01
  1.4190e+01  1.4700e+01  1.5500e+01  6.7000e+01  1.0600e+01  1.8750e+01
  5.5000e+00  8.0100e+00  3.7300e+00  9.2000e+00  1.9080e+01  2.0410e+01
  6.5800e+00  8.0000e+00  9.2500e+00  4.0000e+01  5.8300e+00  1.0000e+00
  1.9700e+01  1.3450e+01  4.8000e+01  1.8900e+01  2.3000e+00 -2.3000e+00
  1.4100e+01  3.5000e+00  6.0000e+00  5.3200e+00  2.1000e+01  3.0000e-01
  5.0000e+00  3.0000e+01  1.2190e+01  2.1080e+01  2.0000e+01  1.5990e+01
  4.3000e+00  4.7000e+01  5.8500e+00  5.3000e+00  2.5080e+01  1.0210e+01
  2.5000e+01  2.7410e+01  2.1500e+01  5.0000e+01  6.1300e+00  2.3300e+00
  1.0732e+02  7.0000e+00  3.5000e+01  1.1111e+02  2.5000e+00  2.4830e+01
  1.9800e+01  3.4160e+01 -5.3300e+00  1.5700e+01  1.0200e+01  1.3700e+01
 -2.0000e+00  1.0000e-02  9.3300e+00  5.5500e+00  3.2000e+00  2.3700e+01
  2.2500e+01  1.2500e+01  4.4400e+00  7.5800e+00  2.2280e+01  1.9750e+01
  1.4250e+01  4.5420e+01  1.5250e+01  1.6950e+01  1.5000e-01  3.0000e-02]
improvement_surcharge: [0.3 0. ]
Total_amount: [ 6.3  13.3   7.8  ... 34.68 92.16 40.79]
Payment_type: [2 1 4 3 5]
Trip_type : [ 1.  2. nan]

In [282]:
df.dtypes

VendorID                   int64
lpep_pickup_datetime      object
Lpep_dropoff_datetime     object
Store_and_fwd_flag        object
RateCodeID                 int64
Pickup_longitude         float64
Pickup_latitude          float64
Dropoff_longitude        float64
Dropoff_latitude         float64
Passenger_count            int64
Trip_distance            float64
Fare_amount              float64
Extra                    float64
MTA_tax                  float64
Tip_amount               float64
Tolls_amount             float64
improvement_surcharge    float64
Total_amount             float64
Payment_type               int64
Trip_type                float64
dtype: object

In [283]:
df.dropna(inplace = True)

## change types:
lpep_pickup_datetime Lpep_dropoff_datetime Trip_type 

## verify valids quantity of each column
No negatives:
Trip_distance Fare_amount Total_amount

In [284]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'], format = '%d/%m/%Y %H:%M')

In [285]:
df['Lpep_dropoff_datetime'] = pd.to_datetime(df['Lpep_dropoff_datetime'], format = '%d/%m/%Y %H:%M')

In [286]:
df['Trip_type ']= df['Trip_type '].astype(np.int64)

In [287]:
df.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
Lpep_dropoff_datetime    datetime64[ns]
Store_and_fwd_flag               object
RateCodeID                        int64
Pickup_longitude                float64
Pickup_latitude                 float64
Dropoff_longitude               float64
Dropoff_latitude                float64
Passenger_count                   int64
Trip_distance                   float64
Fare_amount                     float64
Extra                           float64
MTA_tax                         float64
Tip_amount                      float64
Tolls_amount                    float64
improvement_surcharge           float64
Total_amount                    float64
Payment_type                      int64
Trip_type                         int64
dtype: object

In [288]:
df['Trip_distance'].describe().round(2)

count    1048570.00
mean           2.78
std            2.95
min            0.00
25%            1.01
50%            1.83
75%            3.54
max          830.40
Name: Trip_distance, dtype: float64

In [289]:
df['Fare_amount'].describe().round(2)

count    1048570.00
mean          11.73
std            9.55
min         -400.00
25%            6.00
50%            9.00
75%           14.50
max          800.00
Name: Fare_amount, dtype: float64

In [290]:
df = df.loc[df['Fare_amount'] >= 0]

In [291]:
df['Total_amount'].describe().round(2)

count    1047038.00
mean          15.04
std          967.53
min            0.00
25%            7.80
50%           10.80
75%           17.00
max       989970.39
Name: Total_amount, dtype: float64

In [292]:
df = df.loc[df['Total_amount'] >= 0]

In [293]:
df.shape

(1047038, 20)

In [294]:
df.duplicated().sum()

117

In [295]:
df.drop_duplicates(inplace = True)

In [297]:
(df.describe()).round(2)

,VendorID,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type
count,1046921.00,1046921.00,1046921.00,1046921.00,1046921.00,1046921.00,1046921.00,1046921.00,1046921.00,1046921.00,1046921.00,1046921.00,1046921.00,1046921.00,1046921.00,1046921.00,1046921.00
mean,1.78,1.10,-73.82,40.69,-73.82,40.68,1.39,2.79,11.76,0.34,0.49,1.12,0.10,0.28,15.04,1.56,1.02
std,0.42,0.61,2.90,1.60,2.95,1.63,1.08,2.95,9.49,0.36,0.08,3.81,1.17,0.07,967.58,0.52,0.15
min,1.00,1.00,-75.35,0.00,-75.44,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00
25%,2.00,1.00,-73.96,40.70,-73.97,40.70,1.00,1.01,6.00,0.00,0.50,0.00,0.00,0.30,7.80,1.00,1.00
50%,2.00,1.00,-73.95,40.75,-73.95,40.75,1.00,1.83,9.00,0.50,0.50,0.00,0.00,0.30,10.80,2.00,1.00
75%,2.00,1.00,-73.92,40.80,-73.91,40.79,1.00,3.55,14.50,0.50,0.50,1.80,0.00,0.30,17.00,2.00,1.00
max,2.00,99.00,0.00,42.92,0.00,42.92,9.00,830.40,800.00,1.00,0.80,490.00,869.88,0.30,989970.39,5.00,2.00

In [298]:
df = df.loc[df['Pickup_longitude'] != 0]

In [299]:
df = df.loc[df['Pickup_latitude'] != 0]

In [300]:
df = df.loc[df['Dropoff_longitude'] != 0]

In [301]:
df = df.loc[df['Dropoff_latitude'] != 0]

In [302]:
df['RateCodeID'].unique()

array([ 1,  5,  2,  3,  4,  6, 99], dtype=int64)

In [303]:
df['RateCodeID'].value_counts()

1     1016585
5       23513
2        2862
3         715
4         348
6          20
99          1
Name: RateCodeID, dtype: int64

In [304]:
df = df.loc[df['RateCodeID'] != 99]
df.shape

(1044043, 20)

In [305]:
df['Total_amount'].describe().round(2)

count    1044043.00
mean          15.02
std          968.91
min            0.00
25%            7.80
50%           10.80
75%           17.00
max       989970.39
Name: Total_amount, dtype: float64

In [306]:
df = df.loc[df['Total_amount'] >= 0 ]
df = df.loc[df['Total_amount'] <= 1000]
df.shape

(1044042, 20)

In [307]:
df['Total_amount'].describe().round(2)

count    1044042.00
mean          14.07
std           10.95
min            0.00
25%            7.80
50%           10.80
75%           17.00
max          874.18
Name: Total_amount, dtype: float64

In [308]:
df.describe().round(2)

,VendorID,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type
count,1044042.00,1044042.0,1044042.00,1044042.00,1044042.00,1044042.00,1044042.00,1044042.00,1044042.00,1044042.00,1044042.00,1044042.00,1044042.00,1044042.00,1044042.00,1044042.00,1044042.00
mean,1.78,1.1,-73.94,40.75,-73.94,40.75,1.39,2.79,11.76,0.34,0.49,1.11,0.10,0.28,14.07,1.56,1.02
std,0.41,0.6,0.04,0.06,0.05,0.06,1.08,2.95,9.40,0.36,0.08,3.15,1.17,0.07,10.95,0.52,0.15
min,1.00,1.0,-75.35,39.95,-75.44,39.36,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00
25%,2.00,1.0,-73.96,40.70,-73.97,40.70,1.00,1.01,6.00,0.00,0.50,0.00,0.00,0.30,7.80,1.00,1.00
50%,2.00,1.0,-73.95,40.75,-73.95,40.75,1.00,1.83,9.00,0.50,0.50,0.00,0.00,0.30,10.80,2.00,1.00
75%,2.00,1.0,-73.92,40.80,-73.91,40.79,1.00,3.55,14.50,0.50,0.50,1.80,0.00,0.30,17.00,2.00,1.00
max,2.00,6.0,-70.96,42.92,-70.94,42.92,9.00,830.40,800.00,1.00,0.50,490.00,869.88,0.30,874.18,5.00,2.00

# Then we will split the dataset
The principal reason is because it's a good pratice dont work with all the samples, so for this reason and also because we hace a very large dataset.  

     total: 1044042  
 
 * 80 % train: 835233   
 * 20 % test: 208809
 
 Optionally:
 * 10 % validation

In [310]:
df.shape

(1044042, 20)

In [311]:
from random import sample
lil_df = df.loc[np.random.choice(df.index, 835233, replace = False)]
lil_df.shape

(835233, 20)

In [312]:
lil_df = lil_df.sort_values(by = 'lpep_pickup_datetime')

In [313]:
lil_df.reset_index(drop = True, inplace = True)

In [314]:
lil_df.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,2015-01-01,2015-01-01 00:06:00,N,1,-73.961418,40.714340,-73.961357,40.719212,1,0.74,6.0,0.5,0.5,1.95,0.0,0.0,8.95,1,1
1,2,2015-01-01,2015-01-01 00:11:00,N,1,-73.890915,40.746918,-73.868408,40.739296,1,1.67,8.5,0.5,0.5,0.00,0.0,0.3,9.80,2,1
2,1,2015-01-01,2015-01-01 00:16:00,N,1,-73.951454,40.824905,-73.895561,40.869946,1,5.70,19.0,0.5,0.5,0.00,0.0,0.3,20.30,2,1
3,2,2015-01-01,2015-01-01 00:11:00,N,1,-73.990395,40.686752,-73.958351,40.687611,1,1.88,9.5,0.5,0.5,3.00,0.0,0.3,13.80,1,1
4,2,2015-01-01,2015-01-01 00:23:00,N,1,-73.952347,40.663719,-74.017433,40.641983,1,6.01,21.0,0.5,0.5,4.30,0.0,0.3,26.60,1,1

In [315]:
lil_df.duplicated().sum()

0

In [316]:
df_clean = lil_df

In [317]:
df_clean.describe()

,VendorID,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type
count,835233.000000,835233.000000,835233.000000,835233.000000,835233.000000,835233.000000,835233.000000,835233.000000,835233.000000,835233.000000,835233.000000,835233.000000,835233.000000,835233.000000,835233.000000,835233.000000,835233.000000
mean,1.779318,1.095375,-73.935918,40.749812,-73.935507,40.747841,1.389661,2.789763,11.756595,0.343916,0.488236,1.106440,0.095862,0.281035,14.072366,1.558238,1.022446
std,0.414707,0.600378,0.041597,0.056858,0.049663,0.057427,1.078698,2.985592,9.425217,0.359569,0.075788,3.201608,1.250181,0.073005,10.996286,0.517392,0.148130
min,1.000000,1.000000,-75.351311,39.947926,-75.439667,39.357143,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2.000000,1.000000,-73.959366,40.700478,-73.968094,40.702679,1.000000,1.010000,6.000000,0.000000,0.500000,0.000000,0.000000,0.300000,7.800000,1.000000,1.000000
50%,2.000000,1.000000,-73.945526,40.746872,-73.945648,40.747932,1.000000,1.830000,9.000000,0.500000,0.500000,0.000000,0.000000,0.300000,10.800000,2.000000,1.000000
75%,2.000000,1.000000,-73.917969,40.802441,-73.912132,40.790722,1.000000,3.550000,14.500000,0.500000,0.500000,1.800000,0.000000,0.300000,17.000000,2.000000,1.000000
max,2.000000,6.000000,-71.106323,42.918247,-71.089050,42.918175,9.000000,830.400000,800.000000,1.000000,0.500000,490.000000,869.880000,0.300000,874.180000,5.000000,2.000000

In [321]:
df_clean.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
Lpep_dropoff_datetime    datetime64[ns]
Store_and_fwd_flag               object
RateCodeID                        int64
Pickup_longitude                float64
Pickup_latitude                 float64
Dropoff_longitude               float64
Dropoff_latitude                float64
Passenger_count                   int64
Trip_distance                   float64
Fare_amount                     float64
Extra                           float64
MTA_tax                         float64
Tip_amount                      float64
Tolls_amount                    float64
improvement_surcharge           float64
Total_amount                    float64
Payment_type                      int64
Trip_type                         int64
dtype: object

(835233, 20)

In [ ]:
data_filter = dfg.loc[dfg['Pickup_longitude'] != (0)]
#df_clean = points.loc[points['Pickup_longitude'] != str(0)]

In [ ]:
data_filter = data_filter.loc[data_filter['Pickup_latitude'] != (0)]

In [ ]:
data_filter = data_filter.loc[data_filter['Dropoff_longitude'] != (0)]

In [ ]:
data_filter.shape

In [ ]:
x_coords = data_filter['Dropoff_longitude'].astype(float)
y_coords = data_filter['Pickup_latitude'].astype(float)

In [ ]:
col = data_filter.columns.tolist()

In [ ]:
for column in col:
  print("{}: {}".format(columns, datafilter[column].isnull().sum()))

In [ ]:
dfg.shape

In [ ]:
dfg.head()

In [ ]:
dfn = dfg.drop(dfg.columns[[16]], axis = 'columns')

In [ ]:
dfn = dfn.dropna()

In [ ]:
dfn.head()

In [ ]:
col = dfn.columns.tolist()
for column in col:
  print("{}: {}".format(column, dfn[column].isnull().sum()))

In [ ]:
dfn.shape

In [ ]:
dfg.describe()

In [ ]:
dfg.info()

In [ ]:
from bokeh.plotting import figure, save
p = figure(title="My first plot!")
p

In [ ]:
x_coords = [0,1,2,3,4]
y_coords = [5,4,1,2,0]

In [ ]:
p.circle(x=x_coords, y = y_coords, size = 10, color = "red")

In [ ]:
#C:\Users\alter\Desktop
outputfp = r"/Users/alter/Desktop/points.htmls"

In [ ]:
save(obj = p, filename = outputfp)

In [ ]:
import geopandas as gpd

In [ ]:
points_fp = r"/Users/alter/Documents/Barcelona/La Salle/Asignaturas/Data Mining/JupyterGH/green_tripdata_2015-02.csv"

# Read the data
points = gpd.read_file(points_fp)

In [ ]:
points.head()

In [ ]:
p = figure(title="A map of address points from a Shapefile")