In [1]:
import pandas as pd

In [2]:
dataFrame = pd.DataFrame({"Nombre":["Alice", "Bob", "Eve", "Colin", "Peter", "Frank", "Julie"],
                          "Edad":[22, 38, 26, 30, 34, 23, 27],
                          "Altura":[1.65, 1.71, 1.67, 1.73, 1.68, 1.77, 1.64],
                          "Peso":[56, 65, 58, 68, 72, 64, 70],})

In [3]:
dataFrame

  Nombre  Edad  Altura  Peso
0  Alice    22    1.65    56
1    Bob    38    1.71    65
2    Eve    26    1.67    58
3  Colin    30    1.73    68
4  Peter    34    1.68    72
5  Frank    23    1.77    64
6  Julie    27    1.64    70

In [4]:
dataFrame.tail()

  Nombre  Edad  Altura  Peso
2    Eve    26    1.67    58
3  Colin    30    1.73    68
4  Peter    34    1.68    72
5  Frank    23    1.77    64
6  Julie    27    1.64    70

In [5]:
dataFrame.columns

Index(['Nombre', 'Edad', 'Altura', 'Peso'], dtype='object')

In [6]:
dataFrame.sort_values(by="Edad")

  Nombre  Edad  Altura  Peso
0  Alice    22    1.65    56
5  Frank    23    1.77    64
2    Eve    26    1.67    58
6  Julie    27    1.64    70
3  Colin    30    1.73    68
4  Peter    34    1.68    72
1    Bob    38    1.71    65

In [7]:
dataFrame.iloc[3]

Nombre    Colin
Edad         30
Altura     1.73
Peso         68
Name: 3, dtype: object

In [8]:
dataFrame.iloc[3:6,2:4]

   Altura  Peso
3    1.73    68
4    1.68    72
5    1.77    64

In [9]:
dataFrame[dataFrame.Edad > 29]

  Nombre  Edad  Altura  Peso
1    Bob    38    1.71    65
3  Colin    30    1.73    68
4  Peter    34    1.68    72

In [10]:
dataFrame[dataFrame['Peso'].isin([56,72,70])]

  Nombre  Edad  Altura  Peso
0  Alice    22    1.65    56
4  Peter    34    1.68    72
6  Julie    27    1.64    70

### Operaciones  
Cuando se trata de exploraciones mas complejas es cuando utilizamos las operaciones, veremos algunas de ellas  
  
  Media:

In [11]:
dataFrame.mean()

Edad      28.571429
Altura     1.692857
Peso      64.714286
dtype: float64

Máximo:

In [12]:
dataFrame["Altura"].max()

1.77

Mínimo:

In [13]:
dataFrame["Peso"].min()

56

Suma:

In [14]:
dataFrame["Edad"].sum()

200

## Iris Dataset

Este dataset cuenta con 50 muestras de 3 especies diferentes de Iris (150 muestras en total)  
Medidas: longitud del sépalo, anchura del sépalo, longitud del pétalo, ancura del pétalo.  
Ahora cargaremos el dataset iris desde un fichero CSV.

In [15]:
iris = pd.read_csv('https://goo.gl/mR3i3T')

Hay que tenr en cuenta que la manera más apropiada de llamra a cada Fila es utilizando el termino "Observación"  
Para referirnos a Columna, usualmente emplearemos el termino "Característica"  
Pero si bien nuestra columna que contiene las respuestas, se suele llamar "Objetivo" o "Respuesta"  
Aunque existen muchas otras manera de llamar a las características, las observaciones y la respuesta

In [16]:
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
6             4.6          3.4           1.4          0.3     Setosa
7             5.0          3.4           1.5          0.2     Setosa
8             4.4          2.9           1.4          0.2     Setosa
9             4.9          3.1           1.5          0.1     Setosa
10            5.4          3.7           1.5          0.2     Setosa
11            4.8          3.4           1.6          0.2     Setosa
12            4.8          3.0           1.4          0.1     Setosa
13            4.3          3.0           1.1          0.1     Setosa
14            5.8          4.0           1.2          0.2     Setosa
15            5.7          4.4           1.5          0.4     Setosa
16            5.4          3.9           1.3          0.4     Setosa
17            5.1          3.5           1.4          0.3     Setosa
18            5.7          3.8           1.7          0.3     Setosa
19            5.1          3.8           1.5          0.3     Setosa
20            5.4          3.4           1.7          0.2     Setosa
21            5.1          3.7           1.5          0.4     Setosa
22            4.6          3.6           1.0          0.2     Setosa
23            5.1          3.3           1.7          0.5     Setosa
24            4.8          3.4           1.9          0.2     Setosa
25            5.0          3.0           1.6          0.2     Setosa
26            5.0          3.4           1.6          0.4     Setosa
27            5.2          3.5           1.5          0.2     Setosa
28            5.2          3.4           1.4          0.2     Setosa
29            4.7          3.2           1.6          0.2     Setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  Virginica
121           5.6          2.8           4.9          2.0  Virginica
122           7.7          2.8           6.7          2.0  Virginica
123           6.3          2.7           4.9          1.8  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
126           6.2          2.8           4.8          1.8  Virginica
127           6.1          3.0           4.9          1.8  Virginica
128           6.4          2.8           5.6          2.1  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

* De paso aprovecharemos a aprender un comando muy útil que nos ayudará a analizar nuestro dataset

In [17]:
iris.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Ejercicio

In [18]:
import pandas as pd
df = pd.read_csv('https://goo.gl/rxM4GY')
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

    1- Obtener el numero de filas y de columnas en el dataset

In [19]:
df.shape

(16719, 16)

2 - Obtener un dataset que dentro contenga solo registros del Genero Deportes

In [20]:
sports = df[df['Genre'] == "Sports"]
sports

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
13,Wii Fit,Wii,2007.0,Sports,Nintendo,8.92,8.03,3.60,2.15,22.70,80.0,63.0,7.7,146.0,Nintendo,E
15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.01,8.49,2.53,1.77,21.79,80.0,33.0,7.4,52.0,Nintendo,E
77,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.12,6.12,0.06,1.28,8.57,82.0,42.0,4.3,896.0,EA Sports,E
86,Mario & Sonic at the Olympic Games,Wii,2007.0,Sports,Sega,2.57,3.86,0.66,0.91,7.99,NaN,NaN,NaN,NaN,NaN,NaN
94,FIFA 17,PS4,2016.0,Sports,Electronic Arts,0.66,5.75,0.08,1.11,7.59,85.0,41.0,5,398.0,"EA Sports, EA Vancouver",E
119,Zumba Fitness,Wii,2010.0,Sports,505 Games,3.45,2.59,0.00,0.66,6.71,NaN,NaN,tbd,NaN,"Pipeworks Software, Inc.",E
122,FIFA 12,PS3,2011.0,Sports,Electronic Arts,0.84,4.30,0.11,1.39,6.65,NaN,NaN,NaN,NaN,NaN,NaN
126,FIFA 14,PS3,2013.0,Sports,Electronic Arts,0.78,4.24,0.07,1.37,6.47,86.0,37.0,4.3,576.0,EA Canada,E
141,Kinect Sports,X360,2010.0,Sports,Microsoft Game Studios,3.92,1.73,0.03,0.51,6.19,73.0,51.0,7.4,95.0,Rare Ltd.,E10+
143,FIFA 15,PS4,2014.0,Sports,Electronic Arts,0.80,4.33,0.05,0.90,6.08,82.0,47.0,5.7,988.0,EA Sports,E
183,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23,94.0,29.0,8.5,140.0,EA Tiburon,E
198,Mario & Sonic at the Olympic Games,DS,2008.0,Sports,Sega,1.63,2.45,0.44,0.57,5.09,NaN,NaN,NaN,NaN,NaN,NaN
202,FIFA Soccer 11,PS3,2010.0,Sports,Electronic Arts,0.61,3.28,0.06,1.12,5.07,89.0,51.0,8,233.0,EA Sports,E
205,Tony Hawk's Pro Skater,PS,1999.0,Sports,Activision,3.42,1.38,0.02,0.20,5.02,92.0,18.0,9.2,69.0,Neversoft Entertainment,T
213,Madden NFL 06,PS2,2005.0,Sports,Electronic Arts,3.98,0.26,0.01,0.66,4.91,88.0,29.0,8,121.0,EA Sports,E
227,Tony Hawk's Pro Skater 2,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68,98.0,19.0,7.7,299.0,Neversoft Entertainment,T
237,Mario & Sonic at the Olympic Winter Games,Wii,2009.0,Sports,Sega,1.87,1.96,0.22,0.48,4.53,NaN,NaN,NaN,NaN,NaN,NaN
238,Madden NFL 2005,PS2,2004.0,Sports,Electronic Arts,4.18,0.26,0.01,0.08,4.53,91.0,30.0,7.9,78.0,EA Tiburon,E
241,Madden NFL 07,PS2,2006.0,Sports,Electronic Arts,3.63,0.24,0.01,0.61,4.49,84.0,29.0,8.2,39.0,EA Sports,E
249,Tony Hawk's Pro Skater 3,PS2,2001.0,Sports,Activision,2.66,1.29,0.01,0.46,4.41,97.0,34.0,7.5,298.0,Neversoft Entertainment,T
250,Winning Eleven: Pro Evolution Soccer 2007,PS2,2006.0,Sports,Konami Digital Entertainment,0.10,2.39,1.05,0.86,4.39,86.0,19.0,8.9,33.0,Konami,E
264,FIFA 15,PS3,2014.0,Sports,Electronic Arts,0.58,3.02,0.04,0.64,4.28,NaN,NaN,4.5,109.0,EA Sports,E
271,FIFA 14,X360,2013.0,Sports,Electronic Arts,0.92,2.89,0.01,0.40,4.22,84.0,41.0,4.2,435.0,EA Canada,E
274,FIFA Soccer 06,PS2,2005.0,Sports,Electronic Arts,0.78,2.55,0.04,0.84,4.21,80.0,32.0,7.8,47.0,EA Canada,E
278,FIFA 12,X360,2011.0,Sports,Electronic Arts,0.84,2.78,0.02,0.53,4.18,NaN,NaN,NaN,NaN,NaN,NaN
283,Madden NFL 2003,PS2,2002.0,Sports,Electronic Arts,3.36,0.21,0.01,0.56,4.14,95.0,25.0,7.7,65.0,EA Sports,E
286,FIFA Soccer 07,PS2,2006.0,Sports,Electronic Arts,0.71,2.48,0.03,0.89,4.11,NaN,NaN,NaN,NaN,NaN,NaN
291,World Soccer Winning Eleven 9,PS2,2005.0,Sports,Konami Digital Entertainment,0.12,2.26,0.90,0.77,4.06,NaN,NaN,8.2,23.0,Konami,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16364,PDC World Championship Darts 2009,Wii,2009.0,Sports,Oxygen Interactive,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16376,PDC World Championship Darts 2008,PSP,NaN,Sports,Oxygen Interactive,0.01,0.00,0.00,0.00,0.01,43.0,7.0,tbd,NaN,Oxygen Interactive,E10+
16380,Tiger Woods PGA Tour 2005,PC,2004.0,Sports,Electronic Arts,0.00,0.01,0.00,0.00,0.01,91.0,16.0,4.5,39.0,Headgate,E
16398,Surf's Up,GC,2007.0,Sports,Ubisoft,0.01,0.00,0.00,0.00,0.01,NaN,NaN,tbd,NaN,Ubisoft Montreal,E10+
16405,Championship Manager 2010,PC,2009.0,Sports,Eidos Interactive,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16432,R.B.I. Baseball 2016,PS4,2016.0,Sports,MLB.com,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16454,Turbo: Super Stunt Squad,X360,2013.0,Sports,D3Publisher,0.00,0.01,0.00,0.00,0.01,NaN,NaN,4.5,10.0,Monkey Bar Games,E
16456,NHL 2K7,XB,2006.0,Sports,Take-Two Interactive,0.01,0.00,0.00,0.00,0.01,78.0,8.0,tbd,NaN,Kush Games,E10+
16478,John Daly's ProStroke Golf,X360,2010.0,Sports,O-Games,0.01,0.00,0.00,0.00,0.01,57.0,5.0,NaN,NaN,Gusto Games,E
16517,Tennis no Oji-Sama: Doubles no Oji-Sama - Boys...,DS,2009.0,Sports,Konami Digital Entertainment,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16522,Rugby World Cup 2015,PC,2015.0,Sports,Ubisoft,0.00,0.01,0.00,0.00,0.01,NaN,NaN,1.4,8.0,HB Studios Multimedia,E
16525,ESPN NBA 2Night 2002,XB,2002.0,Sports,Konami Digital Entertainment,0.01,0.00,0.00,0.00,0.01,NaN,NaN,tbd,NaN,Konami,E
16532,Pro Evolution Soccer 2010,PC,2009.0,Sports,Konami Digital Entertainment,0.00,0.01,0.00,0.00,0.01,78.0,8.0,6.9,49.0,Konami,E
16538,The Cages: Pro Style Batting Practice,Wii,2010.0,Sports,Konami Digital Entertainment,0.01,0.00,0.00,0.00,0.01,NaN,NaN,tbd,NaN,Alpha Unit,E
16545,G1 Jockey 4 2007,PS2,2007.0,Sports,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16550,Wade Hixton's Counter Punch,GBA,2004.0,Sports,"Destination Software, Inc",0.01,0.00,0.00,0.00,0.01,78.0,13.0,9.5,4.0,Inferno Games,T
16555,Winning Eleven: Pro Evolution Soccer 2007,PC,2006.0,Sports,Konami Digital Entertainment,0.00,0.01,0.00,0.00,0.01,88.0,6.0,NaN,NaN,KCET,E
16566,Outdoors Unleashed: Alaska 3D,3DS,2011.0,Sports,Mastiff,0.01,0.00,0.00,0.00,0.01,NaN,NaN,tbd,NaN,Mastiff,T
16567,Razor Freestyle Scooter,GBA,2001.0,Sports,Ubisoft,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16626,World Snooker Championship 2007,X360,2007.0,Sports,Sega,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16642,Tour de France 2014,PS3,2014.0,Sports,Focus Home Interactive,0.00,0.01,0.00,0.00,0.01,NaN,NaN,tbd,NaN,Cyanide,E
16643,WSC REAL 09: World Snooker Championship,PS3,2009.0,Sports,Deep Silver,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16647,Rugby Challenge 3,XOne,2016.0,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01,NaN,NaN,6.6,5.0,Wicked Witch Software,E
16659,Summer Athletics,PC,2008.0,Sports,DTP Entertainment,0.00,0.01,0.00,0.00,0.01,NaN,NaN,tbd,NaN,49Games,NaN
16660,Imagine Figure Skater (JP sales),DS,2007.0,Sports,Ubisoft,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16680,G1 Jockey 4 2008,PS3,2008.0,Sports,Tecmo Koei,0.00,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16692,Outdoors Unleashed: Africa 3D,3DS,2011.0,Sports,Mastiff,0.01,0.00,0.00,0.00,0.01,NaN,NaN,tbd,NaN,Mastiff,T
16697,PGA European Tour,N64,2000.0,Sports,Infogrames,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16704,Mezase!! Tsuri Master DS,DS,2009.0,Sports,Hudson Soft,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

3 - Con el dataset anteriomente obtenido, guarda en otro solo los registros que muestren ventas en Europa mayores a 4 Millones

In [21]:
europa = sports[df.EU_Sales > 4]
europa

C:\Users\alter\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
13,Wii Fit,Wii,2007.0,Sports,Nintendo,8.92,8.03,3.60,2.15,22.70,80.0,63.0,7.7,146.0,Nintendo,E
15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.01,8.49,2.53,1.77,21.79,80.0,33.0,7.4,52.0,Nintendo,E
77,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.12,6.12,0.06,1.28,8.57,82.0,42.0,4.3,896.0,EA Sports,E
94,FIFA 17,PS4,2016.0,Sports,Electronic Arts,0.66,5.75,0.08,1.11,7.59,85.0,41.0,5,398.0,"EA Sports, EA Vancouver",E
122,FIFA 12,PS3,2011.0,Sports,Electronic Arts,0.84,4.30,0.11,1.39,6.65,NaN,NaN,NaN,NaN,NaN,NaN
126,FIFA 14,PS3,2013.0,Sports,Electronic Arts,0.78,4.24,0.07,1.37,6.47,86.0,37.0,4.3,576.0,EA Canada,E
143,FIFA 15,PS4,2014.0,Sports,Electronic Arts,0.80,4.33,0.05,0.90,6.08,82.0,47.0,5.7,988.0,EA Sports,E

4- Ordena los valores por Nombre

In [22]:
europa.sort_values(by="Name")

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
122,FIFA 12,PS3,2011.0,Sports,Electronic Arts,0.84,4.30,0.11,1.39,6.65,NaN,NaN,NaN,NaN,NaN,NaN
126,FIFA 14,PS3,2013.0,Sports,Electronic Arts,0.78,4.24,0.07,1.37,6.47,86.0,37.0,4.3,576.0,EA Canada,E
143,FIFA 15,PS4,2014.0,Sports,Electronic Arts,0.80,4.33,0.05,0.90,6.08,82.0,47.0,5.7,988.0,EA Sports,E
77,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.12,6.12,0.06,1.28,8.57,82.0,42.0,4.3,896.0,EA Sports,E
94,FIFA 17,PS4,2016.0,Sports,Electronic Arts,0.66,5.75,0.08,1.11,7.59,85.0,41.0,5,398.0,"EA Sports, EA Vancouver",E
13,Wii Fit,Wii,2007.0,Sports,Nintendo,8.92,8.03,3.60,2.15,22.70,80.0,63.0,7.7,146.0,Nintendo,E
15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.01,8.49,2.53,1.77,21.79,80.0,33.0,7.4,52.0,Nintendo,E
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E

5 - Muestra el conteo de valores por cada Plataforma, es decir el número de registros total para plataforma

In [23]:
europa["Platform"].value_counts()

Wii    4
PS4    3
PS3    2
Name: Platform, dtype: int64

## Scikit Learn  
ES un biblioteca de aprendizaje automático libre para el lenguahe de programación Python.  
Dispone de varios algoritmos de clasificación, regresión, agrupación y otros.

### ¿Quienes están utilizando Scikit Learn?  
Segun las referencias publicadas en el sitio oficial, empresas como Spotify, Evernote, Booking.com, Data Publica, DataRobot, Change.com y mucho más.

In [59]:
import pandas as pd

In [60]:
iris = pd.read_csv('https://goo.gl/mR3i3T')

In [61]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

## Preparación del Dataset  
Para preparar este dataset cumplitermos con unas condiciones. que las características y el objetivo serán objetos separados, deberán ser numéricos y también tendrán que corresponder en su forma.  
Empezaremos por separar las características del objetivo en X e Y.

In [62]:
X = iris[["sepal.length", "sepal.width", "petal.length", "petal.width"]]

In [63]:
X.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [64]:
y = iris["variety"]

In [65]:
y.value_counts()

Virginica     50
Setosa        50
Versicolor    50
Name: variety, dtype: int64

In [66]:
y = y.replace({"Setosa":0})
y.value_counts()

Virginica     50
Versicolor    50
0             50
Name: variety, dtype: int64

In [67]:
y = y.replace({"Versicolor":1})
y.value_counts()

Virginica    50
1            50
0            50
Name: variety, dtype: int64

In [68]:
y = y.replace({"Virginica":2})
y.value_counts()

2    50
1    50
0    50
Name: variety, dtype: int64

In [69]:
X.shape

(150, 4)

In [70]:
y.shape

(150,)

## K Vecinos más cercanos (KNN)  
Explicaremos como funciona esta simple algoritmo con un ejemplo. Pensemos que la figura a continuación es un dataset de dos características representadas por X e Y.  
Las coordenadas de cada observación representará un punto y cada uno de ellos tiene un color que representa la clase de la respuesta.

In [71]:
from sklearn.neighbors import KNeighborsClassifier

In [72]:
knn = KNeighborsClassifier()

In [73]:
knn.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [74]:
observacion_setosa = [[4.9,3,1.4,0.2]]
observacion_versicolor = [[6.4,3.2,4.5,1.5]]
observacion_virginica = [[6.3,3.3,6.0,2.5]]

In [75]:
print (knn.predict(observacion_setosa))
print (knn.predict(observacion_versicolor))
print (knn.predict(observacion_virginica))

[0]
[1]
[2]

In [76]:
y_pred = knn.predict(X)

In [77]:
from sklearn import metrics
print(metrics.accuracy_score(y,y_pred))

0.9666666666666667

In [80]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.40, random_state = 15)

In [81]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(90, 4)
(60, 4)
(90,)
(60,)

In [82]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [83]:
y_pred = knn.predict(X_train)
print(metrics.accuracy_score(y_train, y_pred))

0.9666666666666667

In [84]:
y_pred = knn.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

0.9333333333333333