In [2]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import numpy as np
import os 
import pandas as pd

In [3]:
data = pd.read_csv('C:/Users/alter/OneDrive/Documents/Barcelona/La Salle/Asignaturas/Data Mining/Datasets/en.openfoodfacts.org.products.csv', sep='\t')

C:\Users\alter\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,3,5,24,25,26,27,28,36,41,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

data.drop(data.columns[[0,3,5,24,25,26,27,28,36,41,49]], axis=1)

In [4]:
data.head()

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g,choline_100g,phylloquinone_100g,beta-glucan_100g,inositol_100g,carnitine_100g
0,0000000000017,http://world-en.openfoodfacts.org/product/0000...,kiliweb,1529059080,2018-06-15T10:38:00Z,1529059204,2018-06-15T10:40:04Z,Vitória crackers,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0000000000031,http://world-en.openfoodfacts.org/product/0000...,isagoofy,1539464774,2018-10-13T21:06:14Z,1539464817,2018-10-13T21:06:57Z,Cacao,NaN,130 g,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0000000000123,http://world-en.openfoodfacts.org/product/0000...,kiliweb,1535737982,2018-08-31T17:53:02Z,1535737986,2018-08-31T17:53:06Z,Sauce Sweety chili 0%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0000000000178,http://world-en.openfoodfacts.org/product/0000...,kiliweb,1542456332,2018-11-17T12:05:32Z,1542456333,2018-11-17T12:05:33Z,Mini coco,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0000000000208,http://world-en.openfoodfacts.org/product/0000...,kiliweb,1544207680,2018-12-07T18:34:40Z,1544207683,2018-12-07T18:34:43Z,Pistou d'ail des ours,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
newdata = data[data.columns[10:34]]
newdata.head()

,packaging,packaging_tags,brands,brands_tags,categories,categories_tags,categories_en,origins,origins_tags,manufacturing_places,...,emb_codes,emb_codes_tags,first_packaging_code_geo,cities,cities_tags,purchase_places,stores,countries,countries_tags,countries_en
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,France,en:france,France
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,France,en:france,France
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,France,en:france,France
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,France,en:france,France
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,France,en:france,France

In [11]:
newdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736172 entries, 0 to 736171
Data columns (total 24 columns):
packaging                    149147 non-null object
packaging_tags               149143 non-null object
brands                       491234 non-null object
brands_tags                  491189 non-null object
categories                   225147 non-null object
categories_tags              225149 non-null object
categories_en                225115 non-null object
origins                      45477 non-null object
origins_tags                 45416 non-null object
manufacturing_places         70812 non-null object
manufacturing_places_tags    70792 non-null object
labels                       106368 non-null object
labels_tags                  106333 non-null object
labels_en                    106333 non-null object
emb_codes                    45725 non-null object
emb_codes_tags               45678 non-null object
first_packaging_code_geo     28638 non-null object
cities                       33 non-null object
cities_tags                  30523 non-null object
purchase_places              104993 non-null object
stores                       115428 non-null object
countries                    735537 non-null object
countries_tags               735537 non-null object
countries_en                 735537 non-null object
dtypes: object(24)
memory usage: 134.8+ MB

In [12]:
newdata.describe()

,packaging,packaging_tags,brands,brands_tags,categories,categories_tags,categories_en,origins,origins_tags,manufacturing_places,...,emb_codes,emb_codes_tags,first_packaging_code_geo,cities,cities_tags,purchase_places,stores,countries,countries_tags,countries_en
count,149147,149143,491234,491189,225147,225149,225115,45477,45416,70812,...,45725,45678,28638,33,30523,104993,115428,735537,735537,735537
unique,26477,21302,102298,82756,41206,34895,34892,7864,6983,14053,...,13664,12994,2147,3,3375,8014,7475,2673,1305,1305
top,"sachet,plastique","sachet,plastique",Auchan,auchan,Boissons,"en:beverages,en:non-alcoholic-beverages,en:uns...","Beverages,Non-Alcoholic beverages,Unsweetened ...",France,france,France,...,EMB 56251E,neprecizat,"47.633333,-2.666667",c,theix-morbihan-france,France,Magasins U,France,en:france,France
freq,4421,8795,6096,6278,4798,3147,3147,11639,11855,18971,...,255,255,336,12,322,32128,11711,426354,445692,445692

In [13]:
newdata["cities"].value_counts()

c    12
a    12
b     9
Name: cities, dtype: int64

In [14]:
%matplotlib inline 
import matplotlib.pyplot as plt
newdata.hist(bins=50, figsize=(20,15))
plt.show()

ValueError: num must be 1 <= num <= 0, not 1

In [8]:
data.columns

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g', 'water-hardness_100g',
       'choline_100g', 'phylloquinone_100g', 'beta-glucan_100g',
       'inositol_100g', 'carnitine_100g'],
      dtype='object', length=173)

In [9]:
data.duplicated()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
736142    False
736143    False
736144    False
736145    False
736146    False
736147    False
736148    False
736149    False
736150    False
736151    False
736152    False
736153    False
736154    False
736155    False
736156    False
736157    False
736158    False
736159    False
736160    False
736161    False
736162    False
736163    False
736164    False
736165    False
736166    False
736167    False
736168    False
736169    False
736170    False
736171    False
Length: 736172, dtype: bool

In [10]:
data.dropna()

Empty DataFrame
Columns: [code, url, creator, created_t, created_datetime, last_modified_t, last_modified_datetime, product_name, generic_name, quantity, packaging, packaging_tags, brands, brands_tags, categories, categories_tags, categories_en, origins, origins_tags, manufacturing_places, manufacturing_places_tags, labels, labels_tags, labels_en, emb_codes, emb_codes_tags, first_packaging_code_geo, cities, cities_tags, purchase_places, stores, countries, countries_tags, countries_en, ingredients_text, allergens, allergens_en, traces, traces_tags, traces_en, serving_size, serving_quantity, no_nutriments, additives_n, additives, additives_tags, additives_en, ingredients_from_palm_oil_n, ingredients_from_palm_oil, ingredients_from_palm_oil_tags, ingredients_that_may_be_from_palm_oil_n, ingredients_that_may_be_from_palm_oil, ingredients_that_may_be_from_palm_oil_tags, nutrition_grade_fr, nova_group, pnns_groups_1, pnns_groups_2, states, states_tags, states_en, main_category, main_category_en, image_url, image_small_url, image_ingredients_url, image_ingredients_small_url, image_nutrition_url, image_nutrition_small_url, energy_100g, energy-from-fat_100g, fat_100g, saturated-fat_100g, -butyric-acid_100g, -caproic-acid_100g, -caprylic-acid_100g, -capric-acid_100g, -lauric-acid_100g, -myristic-acid_100g, -palmitic-acid_100g, -stearic-acid_100g, -arachidic-acid_100g, -behenic-acid_100g, -lignoceric-acid_100g, -cerotic-acid_100g, -montanic-acid_100g, -melissic-acid_100g, monounsaturated-fat_100g, polyunsaturated-fat_100g, omega-3-fat_100g, -alpha-linolenic-acid_100g, -eicosapentaenoic-acid_100g, -docosahexaenoic-acid_100g, omega-6-fat_100g, -linoleic-acid_100g, -arachidonic-acid_100g, -gamma-linolenic-acid_100g, -dihomo-gamma-linolenic-acid_100g, omega-9-fat_100g, -oleic-acid_100g, -elaidic-acid_100g, ...]
Index: []

[0 rows x 173 columns]